<section id="about" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> ABOUT </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                 <div class="row pr-4 pl-5">
                    <p> After the increased adoption of machine learning (ML) in various applications and disciplines,
                        a synergy between the database (DB) systems and ML communities emerged. Steps involved in ML pipelines,
                        such as data preparation and cleaning, feature engineering, and management of the ML lifecycle can benefit
                        from research conducted by the data management community. For example, the management of the ML lifecycle
                        requires mechanisms for modeling, storing, and querying ML artifacts. Moreover, in many use cases pipelines
                        require a mixture of relational and linear algebra operators, raising the question of whether a seamless
                        integration between the two algebras is possible. 
                    </p>
                    <p> In the opposite direction, ML techniques are explored in core components of database systems, e.g.,
                        query optimization, indexing, and monitoring. Traditionally hard problems in databases, such as
                        cardinality estimation, or problems with high human supervision like DB administration, might benefit
                        more from learning algorithms than from rule-based or cost-based approaches.
                    </p>
                    <p> The workshop aims at bringing together re-searchers and practitioners in the intersection of
                        DB and ML research, providing a forum for DB-inspired or ML-inspired approaches addressing
                        challenges encountered in each of the two areas. In particular, we welcome new research topics
                        combining the strengths of both fields.
                    </p>
                    <p> Information of the previous workshops can be accessed and seen at
                        <a href="https://www.wis.ewi.tudelft.nl/dbml2024">DBML 2024</a>,
                        <a href="https://www.wis.ewi.tudelft.nl/dbml2023">DBML 2023</a> and
                        <a href="https://www.wis.ewi.tudelft.nl/dbml2022">DBML 2022</a>.
                    </p>
                    <p>
                        For any questions regarding the workshop please contact:  <a href="mailto:dbml25@googlegroups.com">dbml25@googlegroups.com</a>
                    </p>
                    <p>
                        Topics of particular interest for the workshop include, but are not limited to topics along the following two categories:
                        <ul>
                            <li style="list-style-type:none"><b>ML for Data Management and DBMS</b></li>
                            <li> Learned data discovery, cleaning, and transformation
                            <li> ML-enabled data exploration and discovery in data lakes
                            <li> Learned database design, configuration, and tuning
                            <li> ML for query optimization, indexing, partitioning
                            <li> Natural language enablement (e.g., queries, result summarization, chatbot interfaces, etc.)
                            <li> Pretrained models for databases and data management, e.g. (Large Language Models). 
                            <li> Representation learning for data cleaning, preprocessing, and management
                            <li> Benchmarking ML-oriented data management (data augmentation, data cleaning, etc) or DBMSs
                            <li style="list-style-type:none"><b>Data Management for ML</b></li>
                            <li> Data collection and preparation for ML applications
                            <li> Data quality and provenance for ML
                            <li> Novel data management systems for accelerating training and inference of ML models 
                            <li> Data and metadata management for the ML lifecycle
                            <li> DB-inspired techniques for modeling, storage, and provenance of ML artifacts    
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>