<section id="important-dates" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> IMPORTANT DATES </h2>
            </div>

            <div class="col-md-12 margin-top-3">
                <div class="col-6">
                    <p> All deadlines are 11:59PM AoE.</p>
                    <table class="table table-hover table-sm">
                        <tbody>
                        <tr>
                            <td class="no-border-top"><strong>Submission deadline: </strong></td>
                            <!-- <td class="no-border-top"> 05 January 2024</td> -->
                                <!-- <del>05 January 2024</del> -->
                                <!-- <strong>(extended)</strong>  11 January 2023 -->
                            <td class="no-border-top">January 5<sup>th</sup> 2025</td>
                        </tr>
                        <tr>
                            <td><strong>Author notification: </strong></td>
                            <!-- <td>01 February 2024</td> -->
                            <td>March 6<sup>th</sup> 2025</td>
                                <!-- <del> 01 February 2023 </del> -->
                            <!-- <strong>(extended)</strong>  04 February 2023 -->
                        
                        </tr>
                        <tr>
                            <td><strong>Camera-ready version:</strong></td>
                            <!-- <td> 16 February 2024 </td> -->
                            <td>March 20<sup>th</sup> 2025</td>
                        </tr>
                        <tr>
                            <td><strong>Workshop day: </strong></td>
                            <td>May 19<sup>th</sup> 2025</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <h3> Submission guidelines </h3>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="col-6">
                    <p>
                        <ul>
                            <li>Papers should be submitted using the <a href="https://cmt3.research.microsoft.com/DBML2025">Conference Management Tool</a>.</li>
                            <li>Papers must be prepared in accordance with the <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html">available IEEE format</a>.</li>
                            <li>Papers must not exceed <b>6 pages including the references.</b></li>
                            <li>No appendix is allowed.</li>
                            <li>Only electronic submissions in PDF format will be considered.</li>
                            <li>Submissions will be reviewed in a single-blind manner.</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
