<section id="important-dates" class="services-section section-lgrey">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> IMPORTANT DATES </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="col-11 text-center">
                    <p> All deadlines are <b>11:59PM AoE</b>.</p>
                    <table class="table table-hover table-sm">
                        <tbody>
                        <tr>
                            <td class="no-border-top"><strong>Submission deadline: </strong></td>
                            <td class="no-border-top"><del>January 25</del><sup>th</sup> February 28<sup>th</sup> 2025</td>
                        </tr>
                        <tr>
                            <td><strong>Author notification: </strong></td>
                            <td><del>March 30</del><sup>th</sup>April 11<sup>th</sup> 2025</td>
                        
                        </tr>
                        <tr>
                            <td><strong>Camera-ready version:</strong></td>
                            <td><del>April 8</del><sup>th</sup>April 28<sup>th</sup> 2025</td>
                        </tr>
                        <tr>
                            <td><strong>Workshop day: </strong></td>
                            <td>May 19<sup>th</sup> 2025</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
