<section id="guidelines" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> SUBMISSION AND AUTHOR GUIDELINES </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <p>
                        Papers should be submitted using the <a href="https://cmt3.research.microsoft.com/DBMLICDE2025">Conference Management Tool</a>. Papers must be prepared in accordance with the <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html">available IEEE format</a>.
                        Papers must not exceed <b>6 pages including the references.</b> No appendix is allowed. Only electronic submissions in PDF format will be considered.
                        Submissions will be reviewed in a single-blind manner.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>