<section id="keynote" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> KEYNOTES </h2>
            </div>

         <div class="col-md-12 margin-top-10" id="keynote-renata">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml24/renata-editted.jpg"
                             alt="Dr Renata Borovica-Gajic" class="person-image-24">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Physical database design tuning with Multi-Armed Bandits: Reaching the holy grail of performance guarantees</h4>
                        <h5 class="padding-bottom-1">Renata Borovica-Gajic, University of Melbourne</h5>
                        <p><strong>ABSTRACT.</strong> Optimizing physical database design is pivotal for achieving prompt query responses, a critical aspect of database setup.
                            However, existing commercial solutions primarily rely on manual intervention by database administrators (DBAs) to identify and furnish suitable training workloads.
                            This approach is becoming increasingly impractical as workloads evolve into more ad hoc patterns, exacerbating challenges, particularly with the prevalence of mixed OLTP and OLAP (HTAP) workloads.
                            In this talk, I will discuss a novel self-driving method for real-time physical design tuning, circumventing the need for DBAs and query optimizers. 
                            Our approach involves strategic exploration and direct performance observation to discern optimal structures, treating the problem as sequential decision-making under uncertainty, and using the multi-armed bandit (MAB) framework to solve it. 
                            By balancing exploration and exploitation, DBA Bandits offer reliable performance, even in the face of unpredictable ad hoc and HTAP workloads, while providing long sought-after statistical guarantees on the efficacy of proposed design structures.</p>

                        <p><strong>ABOUT.</strong> Dr Renata Borovica-Gajic holds the position of Senior Lecturer in Data Analytics and is an ARC DECRA Fellow at the School of Computing and Information Systems (CIS) at the University of Melbourne.
                             Additionally, she serves as the Associate Dean (Diversity and Inclusion) within the Faculty of Engineering and IT. 
                             Her research focuses on the convergence of database systems, machine learning, artificial intelligence, and data-driven optimization and analytics. 
                             Her scholarly contributions are regularly featured in esteemed data management outlets such as SIGMOD, VLDB, and ICDE conferences, as well as in journals including VLDBJ, TKDE, and CSUR. 
                             Notable recognitions include the esteemed L'Oréal-UNESCO For Women in Science Award in 2023, the Test of Time Award at SIGMOD 2022, and the Google Award for Research Inclusion in 2021.
                             Moreover, she has been honoured with Research Excellence Awards in 2022 and 2023, alongside Excellence in Teaching and Learning Awards in 2018 and 2020.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-top-10" id="keynote-paolo">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml24/paolo-editted.png"
                             alt="Dr Paolo Papotti" class="person-image-24">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">SQL and Large Language Models: A Marriage Made in Heaven?</h4>
                        <h5 class="padding-bottom-1">Paolo Papotti , EURECOM</h5>
                        <p><strong>ABSTRACT.</strong> With the rise of pre-trained Large Language Models (LLMs), there is now an effective solution to store and use information extracted from massive corpora of documents. 
                            However, for data-intensive tasks over structured data, relational DBs and SQL queries are at the core of countless applications. While these two technologies may appear distant, in this talk we will see that they can interact effectively and with promising results. 
                            LLMs can help users express SQL queries (Semantic Parsing), but SQL queries can be used to evaluate LLMs (Benchmarking). Their combination can be further advanced, with opportunities to query with a unified SQL interface both LLMs and DBs. 
                            We present recent results on these topics and then conclude with an overview of the research challenges in effectively leveraging the combined power of SQL and LLMs.</p>

                        <p><strong>ABOUT.</strong>Paolo Papotti is an Associate Professor at EURECOM, France since 2017. He got his PhD from Roma Tre University (Italy) in 2007 and had research positions at the Qatar Computing Research Institute (Qatar) and Arizona State University (USA). 
                            His research is focused on data management and, more recently, on NLP. 
                            He has authored more than 140 publications, and his work has been recognized with two “Best of the Conference” citations (SIGMOD 2009, VLDB 2016), three best demo award (SIGMOD 2015, DBA 2020, SIGMOD 2022), and two Google Faculty Research Award (2016, 2020).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 margin-top-10" id="keynote-fatemeh">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml24/fatemeh.jpg"
                             alt="Dr fatemeh Nargesian" class="person-image-24">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Data Acquisition for AI</h4>
                        <h5 class="padding-bottom-1">Fatemeh Nargesian, University of Rochester</h5>
                        <p><strong>ABSTRACT.</strong> Data science is increasingly reliant on the discovery and integration of data from diverse sources such as open data portals and data marketplaces.
                            With a massive collection of data like a data lake, dataset discovery involves searching for relevant datasets to downstream data science tasks.
                            For multiple disjoint data sources, data acquisition streamlines the integration of sources to compile a dataset that meets specific schema and distribution requirements. 
                            In this talk, I will first describe how to develop efficient algorithms for dataset discovery and data enrichment based on the join operation. 
                            I will then present a method to construct a navigational structure over data lakes, offering an alternative discovery approach to the conventional keyword search. 
                            Next, we will see how to perform distribution-aware discovery in order to tailor a dataset with a desired distribution from multiple sources, aiming to address group representation issues. 
                            Finally, I will conclude with a discussion on the challenges of developing data acquisition systems that support AI-based analytics. 
                        <p><strong>ABOUT.</strong> Fatemeh Nargesian is an assistant professor of computer science at the University of Rochester. She obtained her PhD at the University of Toronto. 
                            Her research interests are in dataset discovery, distribution-aware data integration and data selection, and scientific time-series management. 
                            Her work has appeared at top-tier venues including VLDB, SIGMOD, and ICDE and received the best demo award of VLDB 2017.</p>
                    </div>
                </div>
            </div>
            

         <!--   <div class="col-md-12 margin-top-10" id="keynote-immanuel">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/itrummer.jpeg"
                             alt="Immanuel Trummer" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Towards AI-Generated Database Management Systems                        </h4>
                        <h5 class="padding-bottom-1">Immanuel Trummer, Cornell University</h5>
                        <p><strong>ABSTRACT.</strong> The past years have been marked by several breakthrough results in the domain of generative AI, 
                            culminating in the rise of tools like ChatGPT, able to solve a variety of language-related tasks without specialized training. 
                            In this talk, I outline novel opportunities in the context of data management, enabled by these advances. 
                            I discuss several recent research projects, aimed at exploiting advanced language processing for tasks such as 
                            parsing a database manual to support automated tuning, or mining data for patterns, described in natural language. Finally, 
                            I discuss our recent and ongoing research, aimed at synthesizing code for SQL processing in general-purpose programming languages, 
                            while enabling customization via natural language commands.
                        </p>

                        <p><strong>ABOUT.</strong> Immanuel Trummer is assistant professor at Cornell University. 
                            His papers were selected for “Best of VLDB”, “Best of SIGMOD”, for the ACM SIGMOD Research Highlight Award, 
                            and for publication in CACM as CACM Research Highlight. He received the NSF CAREER Award and multiple Google Faculty Research Awards.
                        </p>
                    </div>
                </div>
            </div>

           <div class="col-md-12 margin-top-10" id="keynote-ce">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/ce_2022.png"
                             alt="Ce Zhang" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Optimizing Communications and Data for Large-scale Learning                        </h4>
                        <h5 class="padding-bottom-1">Ce Zhang, ETH Zurich</h5>
                        <p><strong>ABSTRACT.</strong> The rapid progress of machine learning in the last decade has been fueled by the increasing scale of data and compute. 
                            However, this ever-increasing scale has created significant challenges for machine learning, which center around two fundamental bottlenecks: 
                            data movement (communications) and data quality. To alleviate these bottlenecks, one must jointly optimize and analyze data and learning. 
                            In this talk, I will share some of our research in this direction, focusing on optimizing data movements to enable large-scale, distributed and decentralized learning.
                        </p>
                        <p><strong>ABOUT.</strong> Ce is an Associate Professor in Computer Science at ETH Zurich. 
                            The mission of his research is to make machine learning techniques widely accessible while being cost-efficient and trustworthy 
                            to everyone who wants to use them to make our world a better place. He believes in a system approach to enabling this goal, 
                            and his current research focuses on building next-generation machine learning platforms and systems that are data-centric, human-centric, and declaratively scalable.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-12 text-center margin-top-10">
                <h2> INVITED TALKS </h2>
            </div>

             <div class="col-md-12 margin-top-10" id="talk-mahmoud">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/mahmoud.jpg"
                             alt="Mahmoud Abo Khamis" class="person-image">
                    </div>

                    <div class="col-md-8 ">
                        <h4 class="padding-bottom-1">Relational AutoDiff</h4>
                        <h5 class="padding-bottom-1">Mahmoud Abo Khamis, Senior Computer Scientist, RelationalAI</h5>
                        <p><strong>ABSTRACT.</strong> Modern database systems have been progressively expanding their use cases far outside traditional bookkeeping 
                            and data analytics, and into artificial intelligence workloads like machine learning and mathematical optimization. This in turn motivates 
                            the need for native in-database automatic differentiation to better support these use cases.

                            In this talk, we present RelationalAD (RAD), our framework for automatic differentiation at RelationalAI (RAI). 
                            Rel, the modeling language underlying RelationalAI, is declarative and can be viewed as a generalization of Datalog 
                            with infinite relations (e.g. arithmetic), aggregation, and relational abstraction. The input to RAD is a Rel program 
                            that defines a (set of) relational views and the output is another Rel program that defines new views that are the derivatives 
                            with respect to some given input relations. We show that performing AutoDiff inside a high-level database language like Rel 
                            allows us to evaluate derivatives while enjoying many features offered by the underlying database engine like factorization, 
                            query optimization and compilation, as well as support for higher-order derivatives. We present several examples covering 
                            recursive Rel programs, matrix calculus, neural network training, and gradient descent among others. We conclude with some challenges, 
                            design issues, as well as open problems.</p>
                        <p><strong>ABOUT.</strong> Mahmoud Abo Khamis is a Senior Computer Scientist at RelationalAI since 2017. 
                            He received his Ph.D. in Computer Science and Engineering from the State University of New York at Buffalo in 2016. 
                            He also worked as a Senior Database Engineer at Infor from 2015 until 2017. His research interests include database systems and theory, 
                            in-database machine learning, query optimization and evaluation, information theory, and beyond worst-case analysis. 
                            His work has received two PODS Best Paper Awards in 2016 and 2022, two SIGMOD Research Highlight Awards in 2016 and 2022, 
                            and the Best CSE Dissertation Award 2016 from SUNY Buffalo. His work also received several invitations to the Journal of the ACM, 
                            the ACM TODS, and the ACM STOC. He served on the program committees of PODS 2019, PODS 2021, and ICDT 2022, and he is also a reviewer 
                            for the VLDB Journal and the ACM TODS among others.
                        </p>
                    </div>
                </div>
            </div>


           <div class="col-md-12 margin-top-10" id="talk-feng">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/FengZhang.jpg"
                             alt="FengZhang" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Applying Compressed Data Direct Computing from Database to ML Workloads</h4>
                        <h5 class="padding-bottom-1">Feng Zhang, Associate Professor, Renmin University, China</h5>
                        <p><strong>ABSTRACT.</strong> The rapid growth of data volume poses challenges for modern database systems 
                            in terms of space and time. Compressed data direct computing, as a solution that combines the advantages 
                            of space savings from data compression and efficiency gains from direct computing, has been proved to be 
                            a promising research in the database field. We find that the core of compressed data direct computing is 
                            data reuse, and it can be extended to ML workloads that are also concerned with data size and 
                            computational complexity. In this talk, we introduce Deep Reuse, a concrete implementation of data reuse 
                            into ML workloads. It shows great potential for inference latency reduction on popular neural networks 
                            such as CNNs. Inspired by Deep Reuse, we further carry out research in three aspects: 1) applying it to 
                            optimized operators such as the fast convolution algorithm Winograd, 2) embedding it into neural networks 
                            to address non-determinism and low accuracy problems through a consistent training process, and 
                            3) extending the application to resource-constrained IoT devices.</p>
                        <p><strong>ABOUT.</strong> Feng Zhang is an Associate Professor at Renmin University of China. 
                            He received his PhD from Tsinghua University in 2017, and has been a visiting scholar at NCSU in 2016 
                            and NUS in 2018. His research interests include databases and high-performance computing. 
                            He mainly studies high-performance direct computing on compression in data analytics and management. 
                            His papers are published in prestigious international conferences and journals including SIGMOD, VLDB, 
                            SC, USENIX ATC, ASPLOS, and NeurIPS. He got ACM SIGHPC China Rising Star Award and TPDS Best Paper Award. 
                            He has provided consulting services to numerous IT companies in China, including Alibaba, Tencent, 
                            and Ant Company.</p>
                    </div>
                </div>
            </div>

        </div> -->
        <!-- To be determined, it will be a group of very interesting people, so stay tuned. -->
    </div>
</section>