<section id="organisation" class="services-section section-lgrey">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> ORGANISATION </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">

                    <div class="col-lg-4 col-md-6">
                        <a href="https://fnargesian.com" target="_blank">
                            <div class="blockquote-box ">
                                <div class="square">
                                    <!-- <img src="{{site.baseurl}}/assets/img/dbml24/ziyu.jpg"
                                         alt="Ziyu Li" class="person-image"> -->
                                    <img src="{{site.baseurl}}/assets/img/dbml25/fatemeh.png" alt="Fatemeh Nargesian" class="person-image-24">
                                </div>
                                <h5> Fatemeh Nargesian </h5>
                                <h6> University of Rochester </h6>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://lisestork.github.io" target="_blank">
                            <div class="blockquote-box ">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml25/lstork.png"
                                         alt="Lise Stork" class="person-image-24">
                                </div>
                                <h5> Lise Stork </h5>
                                <h6> University of Amsterdam </h6>
                                <h6> Workshop Chair </h6> 
                            </div>
                        </a>
                    </div>

                   <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/shankar" target="_blank">
                            <div class="blockquote-box ">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml25/shankar.png"
                                         alt="Aditya Shankar" class="person-image-24">
                                </div>
                                <h5> Aditya Shankar </h5>
                                <h6> TU Delft</h6>
                                <h6> Publicity chair </h6>
                            </div>
                        </a>
                    </div>
                    
                </div>

                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12 text-center"> PROGRAM COMMITTEE </h4>
                    <ul id="pc-members" class="col-md-12 centered-list">
                        <li>Amine Mhedhbi - Polytechnique Montréal</li>
                        <li>Gerardo Vitagliano - MIT CSAIL</li>
                        <li>Roee Shraga - WPI</li>
                        <li>Yiming Lin - UC Berkeley</li>
                        <li>Yuyu Luo - HKUST (GZ)</li>
                        <li>Steven Whang - KAIST</li>
                        <li>Daphne Miedema - University of Amsterdam</li>
                        <li>Sebastian Schelter - TU Berlin</li>
                        <!-- <li>Shuang Hao - Beijing Jiaotong University</li> -->
<!--                        <li>Stefan Grafberger - TU Berlin</li>-->
                        <li>Jan-Christoph Kalo - University of Amsterdam </li>
                        <li>Julien Romero - Telecom SudParis</li>
                        <li>Antonios Georgakopoulos - University of Amsterdam</li>
                        <li>Zhi Zhang - University of Amsterdam</li>
                        <li>Madelon	Hulsebos - CWI Amsterdam</li>
                        <!-- <li>Yuyu Luo - Hong Kong University of Science and Technology </li> -->
<!--                        <li>Manisha Lutra - TU Darmstadt </li>-->
<!--                        <li>Ryan Marcus - University of Pennsylvania</li>-->
<!--                        <li>Pedro Pedreira - Meta</li>-->
<!--                        <li>Ibrahim Sabek - University of Southern California</li>-->
<!--                        <li>Sebastian Shelter - University of Amsterdam</li>-->
<!--                        <li>Tuo Shi - City University of Hong Kong</li>-->
<!--                        <li>Roee Shraga - Worcester Polytechnic Institute </li>-->
<!--                        <li>Utku Sirin - Harvard University</li>-->
<!--                        <li>Peter Triantafillou - University of Warwick</li>-->
<!--                        <li>Zhihui Yang - Zhejiang University</li>-->
<!--                        <li>Chao Zhang - Tsinghua University</li>-->
                        <!-- <li>Chi Zhang - Brandeis University</li> -->

                        
                        <!-- <li class="margin-top-2">Dan Olteanu - University of Zurich, Switzerland</li>
                        <li>Asterios Katsifodimos - TU Delft, The Netherlands</li>
                        <li>Fatemeh Nargesian - University of Rochester, USA</li>
                        <li>Rana Alotaibi - Microsoft Gray Systems Lab</li>
                        <li>Zoi Kaoudi - TU Berlin, Germany</li>
                        <li>Xiaoou Ding - Harbin Institute of Technology, China</li>
                        <li>Marios Fragkoulis - DeliveryHero, Greece</li>
                        <li>Christos Koutras - TU Delft, The Netherlands</li>
                        <li>Chi Zhang - Brandeis University, USA</li>
                        <li>Hazar Harmouch - Hasso-Plattner-Institut, Germany</li>
                        <li>Zhiwei Fan - Meta</li>
                        <li>Tuo Shi - Tianjin University, China</li>
                        <li>Syed Ali - Accenture, Germany</li>
                        <li>Xuanhe Zhou - Tsinghua University, China</li>
                        <li>Lampros Flokas - Columbia University, USA</li>
                        <li>Gerardo Vitagliano - Hasso-Plattner-Institut, Germany</li>
                        <li>Roee Shraga - Northeastern University, USA</li>
                        <li>Chao Zhang - Tsinghua University, China</li>
                        <li>Shuang Hao - Beijing Jiaotong University, China</li>
                        <li>Yuyu Luo - Tsinghua University, China</li>
                        <li>Zezhou Huang - Columbia University, USA</li>
                        <li>Utku Sirin - Harvard University, USA</li>
                        <li>Bojan Karlaš - ETH Zurich, Switzerland</li>
                        <li>Madelon Hulsebos - University of Amsterdam, The Netherlands</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
