<section id="program" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> PROGRAM </h2>
            </div>
            <div class="col-md-12 margin-top-3">
<!--                <div class="row pr-4 pl-5 margin-top-4">-->
<!--                    <h4 class="col-md-12"> Accepted papers: </h4>-->
<!--                    <ul id="accepted-papers" class="col-md-12">-->
<!--                        <li class="margin-top-1">-->
<!--                            <a href="{{site.baseurl}}/assets/files/dbml2025/axp.pdf"><strong>-->
<!--                                Data Acquisition for Domain Adaptation of Closed-Box Models-->
<!--                            </strong>-->
<!--                            </a>-->
<!--                            <br/>-->
<!--                            Yiwei Liu (York University), Xiaohui Yu (York University), and Nick Koudas (University of Toronto).-->
<!--                            <br/>-->
<!--&lt;!&ndash;                            The slides to the presentation is available here <a href="{{site.baseurl}}/assets/files/dbml2024/11_zach.pdf" download>here</a>&ndash;&gt;-->
<!--                        </li>-->

<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_13.pdf">&ndash;&gt;-->
<!--&lt;!&ndash;                                <strong> Evaluating Ambiguous Questions in Semantic Parsing</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a> <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            Simone Papicchio, Paolo Papotti and Luca Cagliero.   &ndash;&gt;-->
<!--&lt;!&ndash;                            <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            The slides to the presentation is available here <a href="{{site.baseurl}}/assets/files/dbml2024/2_papicchio_evaluating.pdf" download>here</a>&ndash;&gt;-->
<!--&lt;!&ndash;                         </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="{{site.baseurl}}/assets/files/dbml2024/OPTWIN_DBML_2024.pdf">&ndash;&gt;-->
<!--&lt;!&ndash;                                <strong>OPTWIN: Drift Identification with Optimal Sub-Windows</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            Mauro Dalle Lucca Tosi and Martin Theobald. &ndash;&gt;-->
<!--&lt;!&ndash;                            <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            The slides to the presentation is available here <a href="{{site.baseurl}}/assets/files/dbml2024/5_maruo_optwin.pdf" download>here</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_9.pdf">&ndash;&gt;-->
<!--&lt;!&ndash;                            <strong> ChimeraTL: Transfer Learning in DBMS with Fewer Samples</strong> <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            Tatsuhiro Nakamori, Shohei Matsuura, Takashi Miyazaki, Sho Nakazono, Taiki Sato, Takashi Hoshino and Hideyuki Kawashima.&ndash;&gt;-->
<!--&lt;!&ndash;                            <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            The slides to the presentation is available here <a href="{{site.baseurl}}/assets/files/dbml2024/4_TatsuhiroNakamoriDBML2024.pdf" download>here</a>&ndash;&gt;-->

<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_10.pdf">&ndash;&gt;-->
<!--&lt;!&ndash;                            <strong> Will Sharing Metadata Leak Privacy?</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a> <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            Danning Zhan and Rihan Hai.&ndash;&gt;-->
<!--&lt;!&ndash;                            <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            The slides to the presentation is available here <a href="{{site.baseurl}}/assets/files/dbml2024/3_zhan_does.pdf" download>here</a>&ndash;&gt;-->

<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_11.pdf">&ndash;&gt;-->
<!--&lt;!&ndash;                            <strong>ReClean: Reinforcement Learning for Automated Data Cleaning in ML Pipelines</strong> <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            Mohamed Abdelaal, Anil Bora Yayak, Kai Klede and Harald Schoening.&ndash;&gt;-->
<!--&lt;!&ndash;                            <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            The slides to the presentation is available here <a href="{{site.baseurl}}/assets/files/dbml2024/9_ReClean-SAG.pdf" download>here</a>&ndash;&gt;-->

<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_1.pdf" download>&ndash;&gt;-->
<!--&lt;!&ndash;                            <strong> Directions Towards Efficient and Automated Data Wrangling with Large Language Models</strong> <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            Zeyu Zhang, Paul Groth, Iacer Calixto and Sebastian Schelter.&ndash;&gt;-->
<!--&lt;!&ndash;                            <br/>&ndash;&gt;-->
<!--&lt;!&ndash;                            The slides to the presentation is available here <a href="{{site.baseurl}}/assets/files/dbml2024/10_zeyu_directioins.pdf" download>here</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    <h4 class="col-md-12"> Keynote Presentations: </h4>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li> &ndash;&gt;-->
<!--&lt;!&ndash;                            The slides for the first keynote by <strong>Renata Borovica-Gajic</strong> on &ndash;&gt;-->
<!--&lt;!&ndash;                            <strong>Physical database design tuning with Multi-Armed Bandits: Reaching the holy grail of performance guarantees</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                            can be found <a href="{{site.baseurl}}/assets/files/dbml2024/1_keynote_renata.pdf" download>here</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li> &ndash;&gt;-->
<!--&lt;!&ndash;                            The slides for the second keynote by <strong>Paolo Papotti</strong> on &ndash;&gt;-->
<!--&lt;!&ndash;                            <strong>SQL and Large Language Models: A Marriage Made in Heaven?</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                            The slides for the  <a href="{{site.baseurl}}/assets/files/dbml2024/6_keynote_papotti.pdf" download>here</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li> &ndash;&gt;-->
<!--&lt;!&ndash;                            The slides for the third keynote by <strong>Fatemeh Nargesian</strong> on &ndash;&gt;-->
<!--&lt;!&ndash;                            <strong>Data Acquisition for AI</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                            can be found <a href="{{site.baseurl}}/assets/files/dbml2024/8_keynote_nargesian.pdf" download>here</a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--                    </ul>-->
<!--                </div>-->
                <div class="row pr-4 pl-5 margin-top-4">
<!--                    <h4 class="col-md-12"> Schedule </h4>-->
                    <table class="table table-hover table-bordered table-sm text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="no-border">Hong Kong (GMT+8)</th>
                                <th scope="col" class="no-border">Activity</th>
                                <th scope="col" class="no-border">Title</th>
                                <th scope="col" class="no-border">Presenter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: #f0f0f0;">
                                <td>14:00 - 14:10</td>
                                <td  colspan="3" class="text-center">Opening</td>
                            </tr>
                            <tr >
                                <td>14:10 - 14:50</td>
                                <td>Invited Talk</td>
                                <td>Advancing Domain-Specific Intelligence with LLMs & KGs: A Five-Year Journey Toward the Future</td>
                                <td>Essam Mansour</td>
                            </tr>
                            <tr>
                                <td>14:50 - 15:10</td>
                                <td>Contributed Paper</td>
                                <td>Data Acquisition for Domain Adaptation of Closed-Box Models<br>
                                    <small>Yiwei Liu (York University), Xiaohui Yu (York University), Nick Koudas (University of Toronto)</small>
                                </td>
                                <td>Xiaohui Yu</td>
                            </tr>
<!--                            <tr style="background-color: #00b0c7;">-->
<!--                -->
<!--                                <td  colspan="4" class="text-center">Benchmarking and Evaluation</td>-->
<!--                            </tr>-->
                            <tr>
                                <td>15:10 - 15:30 </td>
                                <td>Invited Paper Presentation</td>
                                <td>Towards Foundation Database Models </td>
                                <td> Johannes Wehrstein</td>
                            </tr>
<!--                            <tr>-->
<!--                                <td></td>-->
<!--                                <td>Research Talk</td>-->
<!--                                <td>Will Sharing Metadata Leak Privacy?</td>-->
<!--                                <td>Danning Zhan and Rihan Hai</td>-->
<!--                            </tr>-->
                            <tr style="background-color: #f0f0f0;">
                                <td>15:30 - 16:00</td>
                                <td  colspan="3" class="text-center">Coffee Break &#9749</td>
                            </tr>
<!--                            <tr style="background-color: #00b0c7;">-->
<!--                -->
<!--                                <td  colspan="4" class="text-center">ML for data processing</td>-->
<!--                            </tr>-->
                            <tr>
                                <td>16:00 - 16:40</td>
                                <td>Invited Talk</td>
                                <td>Unstructured Data Management for Machine Learning</td>
                                <td> Dong Deng </td>
                            </tr>
                            <tr>
                                <td>16:40 - 17:20 </td>
                                <td>Invited Talk</td>
                                <td>On the Generalization of Temporal Graph Learning: Theoretical Insights and Simple Algorithms</td>
                                <td> Jian Kang </td>
                            </tr>
                            <tr style="background-color: #f0f0f0;">
                                <td>17:20 - 17:30</td>
                                <td  colspan="3" class="text-center">Closing</td>
                            </tr>
<!--                            <tr>-->
<!--                                <td>13:30 - 14:15</td>-->
<!--                                <td>Keynote</td>-->
<!--                                <td> <a href="{{site.baseurl}}/dbml2024#keynote-paolo"> SQL and Large Language Models: A Marriage Made in Heaven? </a></td>-->
<!--                                <td>Paolo Papotti</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>14:15 - 15:00</td>-->
<!--                                <td>Roundtable discussions</td>-->
<!--                                <td> Future trends in DBML research</td>-->
<!--                                <td>Collaborative Session</td>-->
<!--                            </tr>-->
<!--                            <tr style="background-color: #00b0c7;">-->
<!--                                <td>15:00 - 15:30</td>-->
<!--                                <td  colspan="3" class="text-center">Coffee Break &#9749</td>-->
                                <!-- <td>Renata Borovica-Gajic</td> -->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>15:30 - 17:00</td>-->
<!--                                <td>Keynote</td>-->
<!--                                <td> <a  href="{{site.baseurl}}/dbml2024#keynote-fatemeh"> Data Acquisition for AI </a> </td>-->
<!--                                <td>Fatemeh Nargesian</td>-->
<!--                            </tr>-->
<!--                            <tr style="background-color: #00b0c7;">-->
<!--                -->
<!--                                <td  colspan="4" class="text-center">Learned Data Wrangling</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td> </td>-->
<!--                                <td>Research Talk</td>-->
<!--                                <td>ReClean: Reinforcement Learning for Automated Data Cleaning in ML Pipelines</td>-->
<!--                                <td> Mohamed Abdelaal, Anil Bora Yayak, Kai Klede and Harald Schoening </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td> </td>-->
<!--                                <td>Research Talk</td>-->
<!--                                <td>Directions Towards Efficient and Automated Data Wrangling with Large Language Models-->
<!--                                </td>-->
<!--                                <td> Zeyu Zhang, Paul Groth, Iacer Calixto and Sebastian Schelter </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td> </td>-->
<!--                                <td>Research Talk</td>-->
<!--                                <td>Relationalizing Tables with Large Language Models: The Promise and Challenges</td>-->
<!--                                <td> Zezhou Huang and Eugene Wu </td>-->
<!--                            </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>