---
layout: dbdbd
title: DBDBD 2021
---

<section class="services-section">
    <div class="container">
        <!--        HEAD INFO-->
        <div id="intro" class="row">
            <div class="col-md-12">
                <h2> Dutch-Belgian Database Day</h2>
            </div>
            <div class="col-md-12">
                <h5> Delft, The Netherlands </h5>
            </div>
            <div class="col-md-12">
                <h5> Tuesday, 7th December 2021 </h5>
            </div>

            <div class="col-md-12 margin-top-2">
                <img src="/assets/img/delft.jpg" class="blog-post col-12"
                     alt="Delft centre" width="60%">
            </div>
        </div>
    </div>

    <!--        OVERVIEW-->
    {% include dbdbd/overview.html %}

    <!--        SUBMISSION-->
    {% include dbdbd/submission.html %}

    <!--        REGISTRATION -->
    {% include dbdbd/registration.html %}

    <!--        PROGRAM -->
    {% include dbdbd/program.html %}

    <!--        HISTORY -->
    {% include dbdbd/history.html %}

</section>


</body>

<!-- Footer -->

</html>
