---
layout: dbml25
title: DBML 2025
---

<!--<section id="banner" class="services-section section-colored">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <h2> International workshop on databases and machine learning </h2>-->
<!--                <h3> (DBML 2022) </h3>-->
<!--            </div>-->
<!--            <div class="col-md-12">-->
<!--                <h4> in conjunction with <a href="https://icde2022.ieeecomputer.my/" target="_blank">ICDE 2022</a> | May-->
<!--                    9 2022 | Kuala Lumpur | Malaysia </h4>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->

<!--        OVERVIEW-->
{% include dbml25/about.html %}

<!--        IMPORTANT DATES -->
{% include dbml25/dates.html %}

<!--        PROGRAM-->
{% include dbml25/program.html %}

<!--        KEYNOTE-->
{% include dbml25/keynote.html %}

<!--        ORGANISATION-->
{% include dbml25/organisation.html %}


<!--        SUBMISSION-->
<!-- {% include dbml25/submission.html %} -->

<!--        PANEL-->
<!-- {% include dbml25/panel.html %} -->



<!--        SPONSORS-->
<!-- {% include dbml25/sponsors.html %} -->