---
layout: dbml
title: DBML 2022
---

<!--<section id="banner" class="services-section section-colored">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12">-->
<!--                <h2> International workshop on databases and machine learning </h2>-->
<!--                <h3> (DBML 2022) </h3>-->
<!--            </div>-->
<!--            <div class="col-md-12">-->
<!--                <h4> in conjunction with <a href="https://icde2022.ieeecomputer.my/" target="_blank">ICDE 2022</a> | May-->
<!--                    9 2022 | Kuala Lumpur | Malaysia </h4>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->

<!--        OVERVIEW-->
{% include dbml/about.html %}

<!--        SUBMISSION-->
{% include dbml/submission.html %}

<!--        IMPORTANT DATES -->
{% include dbml/dates.html %}

<!--        KEYNOTE-->
{% include dbml/keynote.html %}

<!--        PROGRAM-->
{% include dbml/program.html %}

<!--        ORGANISATION-->
{% include dbml/organisation.html %}

<!--        SPONSORS-->
{% include dbml/sponsors.html %}
