---
layout: default_style
title: User Modeling and Learning Analytics
---

<section id="data-theme" class="section-global-wrapper">
  <div class="container content-space">
    <div class="row justify-content-center blog-post">
      <h2> {{page.title}} </h2>
    </div>

    <div class="row margin-top-2">
      <div class="col-md-12">
        <div class="row pr-3 pl-3 blog-post">
          <p class="text-center">
            <a href="https://www.educationandlearning.nl/home" target="_blank">The Centre for Education and Learning</a>
            aims to explore new directions for radical innovation of online and blended
            teaching and learning in Higher Education and build a sustainable Research Centre for the LDE partnership.
            LDE-CEL aims to collect evidence and document research and expertise in the area of digital higher education
            by combining the power of online learning with the advantages of face-to-face education in blended settings.
            </p>
          <p class="text-center">
            Forming a future vision for educational innovation is linked to core developments of digitalisation.
            Datafication builds the basis for collecting traces about learning and teaching activities and making use of
            them in Learning Analytics and Artificial Intelligence for learning support. Digital literacy with all its
            facets as data literacy, tools literacy, or computational thinking is the human skillset needed in digital
            study environments to learn and to teach. Virtualisation opens new possibilities for hybrid learning
            environments and enables immersive learning experiences, remote collaboration as well as new forms of
            interaction with learning content, intelligent agents, and simulations. Based on these developments LDE-CEL
            has focused its research activities around the following core topics.
          </p>
        </div>
      </div>

      <div class="col-md-12">
        <h4> Data and AI Enhanced Learning </h4>
        <div class="row pr-3 pl-3 blog-post">
          <p>
            A new wave of AI applications have been developed in the last years based on the progress in Deep Neural
            Networks and Machine Learning approaches. The impact of these AI technologies on educational technologies is
            to be high considering the focus of personalisation of learning support, upscaling of assessment and
            formative review instruments.
          </p>
        </div>
      </div>

      <div class="col-md-12">
        <h4> Digital Literacy </h4>
        <div class="row pr-3 pl-3 blog-post">
          <p>
            Using data and digital tools defines the new instrumentarium of scientific work in nearly all disciplines.
            LDE-CEL develops programs in learning programming and development of digital and data skills from
            interdisciplinary perspectives.
          </p>
        </div>
      </div>

      <div class="col-md-12">
        <h4> Augmented and Virtual reality </h4>
        <div class="row pr-3 pl-3 blog-post">
          <p>
            Augmented and Virtual reality enable new forms of learning support enabling feedback in either real world
            situations as also the design of virtual experience and training environments.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <h4 class="col-md-12 blog-post margin-top-2">People</h4>
      <div class="col-md-12 margin-left-3">
        {% include theme-members.html team1='cel' %}
      </div>
    </div>

    <div class="row">
      <h4 class="col-md-12 blog-post margin-top-2">Projects</h4>
      <ul class="col-md-12">
        {% for project in site.data.cel.projects %}
        <li class="margin-left-3">
          {% assign project_link = project.link | strip %}
          {% if project_link == '' %}
          <h5>{{project.title}}</h5>
          {% else %}
          <h5><a href="{{project.link}}" target="_blank"> {{project.title}}</a></h5>
          {% endif %}
          <p>{{project.description}}</p>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="row" hidden>
      <h4 class="col-md-12 blog-post margin-top-2">Publications</h4>
      <ul class="col-md-12">
        <li class="margin-left-3">
          List of publications
        </li>
      </ul>
    </div>

  </div>
</section>
