---
layout: default_style
permalink: /people
title: Team
---

<section class="services-section section-global-wrapper">
<div class="container">
    <div class="row justify-content-center">
        <div class="services-header">
            <h2 class="services-header-title">Our {{page.title}}</h2>
        </div>
    </div>

    {% assign grouped_people = site.people | group_by: "filter" | sort: "name" %}
    {% assign counter = 0 %}

    {% for group in grouped_people %}
        {% assign sorted_people = group.items | sort: "name" %}

        {% for people in sorted_people %}
        {% assign empty_name = people.name | strip %}
        {% unless empty_name == '' %}

        {% if counter == 0 %}
            {% assign animationType = 'fadeInLeft' %}
            <div class="row row-margin-bottom">
        {% endif %}

        {% if counter == 1 %}
        {% assign animationType = 'zoomIn' %}
        {% endif %}
        <div class="col-md-4">
            <a href="{{site.baseurl}}{{people.url}}">
            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                <div class="square pull-left">
                    <img src="{{site.baseurl}}/assets/img/people/{{people.image}}" alt="Feature-img" class="person-image">
                </div>
                <h4>
                    {{people.name}}
                </h4>

                {% if people.team contains 'cel' %}
                <p>
                    {{people.role}} @ CEL
                </p>
                {% else %}
                <p>
                    {{people.role}}
                </p>
                {% endif %}

                {% assign empty_twitter = people.twitter | strip %}
                {% unless empty_twitter == '' %}
                <a class="pr-2" href="{{people.twitter}}" target="_blank" title="Twitter">
                    <i class="fa fa-lg fa-twitter"></i>
                </a>
                {% endunless %}

                {% assign empty_linkedin = people.linkedin | strip %}
                {% unless empty_linkedin == '' %}
                <a class="pr-2" href="{{people.linkedin}}"
                   target="_blank" title="LinkedIn">
                    <i class="fa fa-lg fa-linkedin"></i>
                </a>
                {% endunless %}

                {% assign empty_github = people.github | strip %}
                {% unless empty_github == '' %}
                <a class="" href="{{people.github}}" target="_blank" title="GitHub">
                    <i class="fa fa-lg fa-github"></i>
                </a>
                {% endunless %}
            </div>
        </div>

        {% if counter == 2 %}
            </div>
            {% assign counter = -1 %}
        {% endif %}

        {% assign counter = counter | plus:1 %}
        {% assign animationType = 'fadeInRight' %}
        {% endunless %}
        {% endfor %}

        {% if forloop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>
</section>