<section id="history" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left"> History </h3>

            <div class="col-md-12">
                <div class="row pr-4 pl-5 ">
                    <p style="width: 100%">Previous DBDBD events:</p>
                    <ul>
                        <li><a href="https://soft.vub.ac.be/DBDBD2020/" target="_blank">DBDBD 2020 Brussels</a></li>
                        <li><a href="http://www.cslab.cc/dbdbd2019/" target="_blank">DBDBD 2019 'sHertogenbosch</a></li>
                        <li><a href="https://www.uhasselt.be/DBDBD2018" target="_blank">DBDBD 2018 Hasselt</a></li>
                        <li><a href="https://www.win.tue.nl/~gfletche/events/dbdbd2017/" target="_blank">DBDBD 2017
                            Eindhoven</a></li>
                        <li><a href="http://informatique.umons.ac.be/dbdbd2016/" target="_blank">DBDBD 2016 Mons</a>
                        </li>
                        <li><a href="http://event.cwi.nl/dbdbd2015/" target="_blank">DBDBD 2015 Amsterdam</a></li>
                        <li><a href="http://www.adrem.ua.ac.be/dbdbd2014" target="_blank">DBDBD 2014 Antwerp</a></li>
                        <li>DBDBD 2013 Rotterdam</li>
                        <li>DBDBD 2012 Brussels</li>
                        <li>DBDBD 2011 Twente</li>
                        <li>DBDBD 2010 Hasselt</li>
                        <li>DBDBD 2009 Delft</li>
                        <li>DBDBD 2008 Namur</li>
                        <li>DBDBD 2007 Eindhoven</li>
                        <li><a href="http://wise.vub.ac.be/DBDBD/" target="_blank">DBDBD 2006 Brussels</a></li>
                        <li>DBDBD 2005 Amsterdam</li>
                        <li>DBDBD 2004 Antwerp</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>