<section id="organisation" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left mb-4"> Organisation </h3>
            <div class="col-md-12">
                <div class="row pr-4 pl-5">
                    <div class="col-lg-4 col-md-6">
                        <a href="{{site.baseurl}}/katsifodimos">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/Asterios Katsifodimos.jpg"
                                         alt="Asterios Katsifodimos" class="person-image">
                                </div>
                                <h4> Asterios Katsifodimos </h4>

                                <h6> Local organiser </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="{{site.baseurl}}/lofi">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/Christoph Lofi (WIS).jpg"
                                         alt="Christoph Lofi" class="person-image">
                                </div>
                                <h4> Christoph Lofi </h4>

                                <h6> Local organiser </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="{{site.baseurl}}/ionescu">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/Andra.jpg"
                                         alt="Andra Ionescu" class="person-image">
                                </div>
                                <h4> Andra Ionescu </h4>

                                <h6> Webmaster </h6>
                            </div>
                        </a>
                    </div>
                </div>

<!--                <div class="row pr-4 pl-5">-->
<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <a href="{{site.baseurl}}/">-->
<!--                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">-->
<!--                                <div class="square pull-left">-->
<!--                                    <img src="{{site.baseurl}}/assets/img/people/"-->
<!--                                         alt="Andra Ionescu" class="person-image">-->
<!--                                </div>-->
<!--                                <h4></h4>-->

<!--                                <h6> Program committee chair </h6>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="col-lg-4 col-md-6">-->
<!--                        <a href="{{site.baseurl}}/">-->
<!--                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">-->
<!--                                <div class="square pull-left">-->
<!--                                    <img src="{{site.baseurl}}/assets/img/people/"-->
<!--                                         alt="Andra Ionescu" class="person-image">-->
<!--                                </div>-->
<!--                                <h4></h4>-->

<!--                                <h6> Poster chair </h6>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    -->
<!--                </div>-->

            </div>
        </div>
    </div>
</section>