<section id="organisation" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left mb-4"> Organisation </h3>
            <div class="col-md-12 margin-top-3 smaller-font">

                <div class="row pr-4 pl-5">
                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/katsifodimos">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/Asterios Katsifodimos.jpg"
                                         alt="Asterios Katsifodimos" class="person-image">
                                </div>
                                <h4> Asterios Katsifodimos </h4>
                                <h6> Program Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/lofi">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/Christoph Lofi (WIS).jpg"
                                         alt="Christoph Lofi" class="person-image">
                                </div>
                                <h4> Christoph Lofi </h4>
                                <h6> Program Chair </h6>
                            </div>
                        </a>
                    </div>
<!--                </div>-->

<!--                <div class="row pr-4 pl-5">-->
                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/hai">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/rihan.jpg"
                                         alt="Rihan Hai" class="person-image">
                                </div>
                                <h4> Rihan Hai </h4>
                                <h6> Session Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/li">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/ziyu_li.jpg"
                                         alt="Ziyu Li" class="person-image">
                                </div>
                                <h4>Ziyu Li</h4>
                                <h6> Session chair </h6>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pr-4 pl-5">
                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/fragkoulis">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/Marios.png"
                                         alt="Marios Fragkoulis" class="person-image">
                                </div>
                                <h4>Marios Fragkoulis</h4>
                                <h6> Local organiser </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/koutras">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/christos.koutras.png "
                                         alt="Christos Koutras" class="person-image">
                                </div>
                                <h4>Christos Koutras</h4>
                                <h6> Local organiser </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/siachamis">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/georgios_siachamis.jpg"
                                         alt="George Siachamis" class="person-image">
                                </div>
                                <h4>George Siachamis</h4>
                                <h6> Local organiser </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <a href="{{site.baseurl}}/psarakis">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/kyriakos.jpg"
                                         alt="Kyriakos Psarakis" class="person-image">
                                </div>
                                <h4>Kyriakos Psarakis</h4>
                                <h6> Local organiser </h6>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pr-4 pl-5">
                    <div class="col-lg-3 col-md-6">
                        <a href="{{site.baseurl}}/ionescu">
                            <div class="blockquote-box blockquote-people animated {{animationType}} clearfix">
                                <div class="square pull-left">
                                    <img src="{{site.baseurl}}/assets/img/people/Andra.jpg"
                                         alt="Andra Ionescu" class="person-image">
                                </div>
                                <h4> Andra Ionescu </h4>
                                <h6> Publicity Chair </h6>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>