<section id="overview" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left"> Overview </h3>
            <div class="col-md-12">
                <div class="row pr-4 pl-5">
                    <p> The Dutch-Belgian DataBase Day (DBDBD) is a yearly one-day workshop, organized in a Belgian or
                        Dutch university, whose general topic is database research.
                        DBDBD 2021 will be held in Delft, The Netherlands. Due to the cooperation between SIKS and the
                        local organisation of DBDBD, registration for SIKS-members is free.
                    </p>
                    <p>
                        At DBDBD 2021, junior and senior researchers from the Netherlands and Belgium can present their
                        recent results, and meet senior researchers in the field of data management.
                        It is an excellent opportunity to meet up with your Belgian/Dutch colleagues, and to get
                        informed about the (recent) database-related research performed in Belgian/Dutch universities.
                    </p>
                    <p>
                        The workshop consists of poster presentations. There are no printed proceedings.
                        Abstracts of oral and poster presentations will be published on the DBDBD 2021 website.
                    </p>
                    <p>
                        We invite submissions (1 page abstract) on a broad range of database and database-related
                        topics, including but not limited to data storage and management, theoretical database issues,
                        database performance, data mining, information retrieval, data semantics, querying, ontologies
                        etc.
                        Based on the submissions, the workshop will be organized in different sessions each covering a
                        particular topic. See the submission guidelines for further details.
                    </p>
                    <p>
                        This year, DBDBD is organized by the <a href="https://www.wis.ewi.tudelft.nl/data-management">data management team</a>, of the <a href="https://www.wis.ewi.tudelft.nl">Web Information Systems</a> group at TU Delft. The organizers are
                        <a href="http://asterios.katsifodimos.com/">Asterios Katsifodimos</a> and
                        <a href="https://www.wis.ewi.tudelft.nl/lofi.html">Christoph Lofi</a>.
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row pr-4 pl-5">
                <h5 class="text-left"> Who-is-Who of Dutch-Belgium Database Groups </h5>
                    <p>
                        One of the core goals of DBDBD is to get to know your fellow database researchers better. To make this easier,
                        we will have a new special session this year: the <b>Who-is-Who-Session</b>.
                        For this session, we kindly ask <b>every database-related research group</b> in The Netherlands or Belgium
                        who participates at DBDBD to prepare a very brief presentation on who they are and what they do.
                        If everybody contributes, this should give a nice overview of who is who, and what everybody is
                        (currently) interested in.

                        In order to contribute to this session, there will be a special track in the EasyChair submission system
                        where you can signal your willingness, and also later (after the notification deadline) upload your slides.
                        It would be great if one representative of each group would volunteer to take charge of this.
                        Please help us to make this session awesome!
                    </p>
                </div>
            </div>

            <div class="col-md-12">
                <h5 class="text-left"> Important dates </h5>

                <ul>
                    <li>
                        <strong>Abstract submission: </strong> 12th November 2021
                    </li>
                    <li>
                        <strong>Notification: </strong> 19th November 2021
                    </li>
                    <li>
                        <strong>Registration deadline: </strong> 25th November 2021
                    </li>
                    <li>
                        <strong>Workshop: </strong> 7th December 2021
                    </li>
                </ul>
            </div>

            <div class="col-md-12">
                <h5 class="text-left"> Sponsors </h5>
                <div class="row pr-4 pl-5">
                    <p>The DBDBD 2021 is sponsored by and organized under the auspices of
                        <a href="http://www.siks.nl/" target="_blank">SIKS</a>, the
                        Netherlands Research School for Information and Knowledge Systems.</p>
                </div>

                <div class="row pr-4 pl-5 justify-content-center">
                    <div class="col-md-3">
                        <a href="https://www.tudelft.nl/" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/TUD-logo.png"
                                 alt="Delft centre" width="100%">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="http://www.siks.nl/" target="_blank">
                            <img src="{{site.baseurl}}/assets/img/siks.png"
                                 alt="Delft centre" width="100%">
                        </a>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>