<section id="program" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left"> Program </h3>

            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5 ">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="no-border">Timeslot</th>
                                <th scope="col" class="no-border">Activity</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>12:30 - 12:45</td>
                                <td>Arrival (Online meeting open)</td>
                            </tr>

                            <tr>
                                <td>12:45 - 13:00 </td>
                                <td>Welcome</td>
                            </tr>

                            <tr>
                                <td>13:00 - 13:45</td>
                                <td><strong>Keynote</strong></td>
                            </tr>

                            <tr>
                                <td>13:45 - 14:00</td>
                                <td>Coffee break &#9749; </td>
                            </tr>

                            <tr>
                                <td>14:00 - 14:45</td>
                                <td><strong>Who is who</strong></td>
                            </tr>

                            <tr>
                                <td>14:45 - 15:00 </td>
                                <td>Coffee break &#9749; </td>
                            </tr>

                            <tr>
                                <td>15:00 - 15:45</td>
                                <td><a href="{{site.baseurl}}/dbdbd2021#gong-show"><strong>Gong show</strong></a></td>
                            </tr>

                            <tr>
                                <td>15:45 - 16:00</td>
                                <td>Coffee break &#9749; </td>
                            </tr>

                            <tr>
                                <td>16:00 - 17:00</td>
                                <td><strong>Panel & Open Community Discussion</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="gong-show" class="row pr-4 pl-5 margin-top-4">

                    <h4>Gong show</h4>

                    <ul>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_1.pdf" target="_blank">Identifying SQL Misconceptions to Improve Database Education</a> <br/>
                            Daphne Miedema, Efthimia Aivaloglou, George Fletcher <br/>
                            (Eindhoven University of Technology, Leiden University, Open Universiteit)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_2.pdf" target="_blank">Leveraging Temporal and Topological Selectivities in Temporal-clique Subgraph Query Processing</a> <br/>
                            Kaijie Zhu, George Fletcher, Nikolay Yakovets <br/>
                            (Eindhoven University of Technology, NDSC - Zhengzhou, China)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_3.pdf" target="_blank">ARGUSEYES: Screening Native Machine Learning Pipelines</a> <br/>
                            Stefan Grafberger, Shubha Guha, Olivier Sprangers, Sebastian Schelter <br/>
                            (AIRLab, University of Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_4.pdf" target="_blank">COSCFair: Ensuring Subgroup Fairness Through Fair Classification Framework</a> <br/>
                            Begum Hattatoglu, Enas Khwaileh, Abdulhakim Qahtan, Heysem Kaya, Yannis Velegraki <br/>
                            (Utrecht University and University of Trento)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_5.pdf" target="_blank">From queries to data examples and back</a> <br/>
                            Balder ten Cate <br/>
                            (Universiteit van Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_6.pdf" target="_blank">Serving Low-Latency Session-Based Recommendations at bol.com</a> <br/>
                            Barrie Kersbergen, Olivier Sprangers, Sebastian Schelter <br/>
                            (AIRLab, University of Amsterdam, bol.com)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_7.pdf" target="_blank">Stable Conditional Metrics for Data Ingestion Validation</a> <br/>
                            Niels Bylois, Frank Neven, Stijn Vansummeren <br/>
                            (UHasselt, Data Science Institute, ACSL)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_8.pdf" target="_blank">Efficient External Sorting in DuckDB</a> <br/>
                            Laurens Kuiper <br/>
                            (CWI Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_9.pdf" target="_blank">Table Understanding in Practice</a> <br/>
                            Madelon Hulsebos <br/>
                            (University of Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_10.pdf" target="_blank">FastLanes: A SIMD-friendly Composable Compression Library</a> <br/>
                            Azim Afroozeh, Peter Boncz <br/>
                            (CWI Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_11.pdf" target="_blank">Learning Embeddings of Events in Continuous-time Dynamic Graphs</a> <br/>
                            Duygu Sezen Islako&#287;lu, Sebastijan Duman&#269;i&#263; <br/>
                            (Utrecht University, Delft University of Technology)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_12.pdf" target="_blank">Trident: An Adaptive Low-Level Database for Very Large Graphs</a> <br/>
                            Jacopo Urbani <br/>
                            (Vrije Universiteit Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_14.pdf" target="_blank">Amalur: Next-generation Data Integration in Data Lakes</a> <br/>
                            Rihan Hai, Christos Koutras, Andra Ionescu, Asterios Katsifodimos <br/>
                            (Delft University of Technology)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_18.pdf" target="_blank">Exploring Data Pipelines through the Process Lens: a Reference Model for Computer Vision and its Implications for Understanding Algorithmic Harms</a> <br/>
                            Agathe Balayn <br/>
                            (Delft University of Technology)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_19.pdf" target="_blank">Stateful Entities: Object-oriented Cloud Applications as Distributed Dataflows</a> <br/>
                            Wouter Zorgdrager, Kyriakos Psarakis, Marios Fragkoulis, Eelco Visser, Asterios Katsifodimos <br/>
                            (Delft University of Technology)
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
</section>