<section id="program" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left"> Program </h3>

            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5 ">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="no-border">Timeslot</th>
                                <th scope="col" class="no-border">Activity</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>12:30 - 12:45</td>
                                <td>Arrival</td>
                            </tr>

                            <tr>
                                <td>12:45 - 13:00 </td>
                                <td>Welcome</td>
                            </tr>

                            <tr>
                                <td>13:00 - 13:45</td>
                                <td><strong>Keynote</strong></td>
                            </tr>

                            <tr>
                                <td>13:45 - 14:00</td>
                                <td>Coffee break &#9749; </td>
                            </tr>

                            <tr>
                                <td>14:00 - 14:45</td>
                                <td><strong>Who is who</strong></td>
                            </tr>

                            <tr>
                                <td>14:45 - 15:00 </td>
                                <td>Coffee break &#9749; </td>
                            </tr>

                            <tr>
                                <td>15:00 - 15:45</td>
                                <td><strong>Gong show</strong></td>
                            </tr>

                            <tr>
                                <td>15:45 - 16:00</td>
                                <td>Coffee break &#9749; </td>
                            </tr>

                            <tr>
                                <td>16:00 - 17:00</td>
                                <td><strong>Panel & Open Community Discussion</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>