<section id="program" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left"> Program </h3>

            <div class="col-md-12 margin-top-3">
                <div id="keynote" class="row pr-4 pl-5 ">
                    <div class="col-md-12">
                        <div class="row">
                            <h4>Keynote</h4>
                        </div>

                        <div class="row margin-top-2">
                            <div class="col-md-10">
                                <div class="blockquote-box blockquote-people">
                                    <a class="square pull-left"
                                       href="https://www.tilburguniversity.edu/staff/ekaterini-ioannou">
                                        <img src="{{site.baseurl}}/assets/img/dbdbd/EIoannou.jpeg"
                                             alt="Ekaterini Ioannou" class="person-image">
                                    </a>
                                    <h3> Past and Present of Entity Resolution </h3>
                                    <h4><a href="https://www.tilburguniversity.edu/staff/ekaterini-ioannou">Ekaterini
                                        Ioannou</a></h4>
                                    <h6><a href="https://www.tilburguniversity.edu/">Assistant Professor, Tilburg
                                        University</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row pr-4 pl-5 margin-top-4">
                    <table class="table table-hover table-sm">
                        <thead>
                        <tr>
                            <th scope="col" class="no-border">Timeslot</th>
                            <th scope="col" class="no-border">Activity</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>12:30 - 12:45</td>
                            <td>Arrival (Online meeting open)</td>
                        </tr>

                        <tr>
                            <td>12:45 - 13:00</td>
                            <td>Welcome</td>
                        </tr>

                        <tr>
                            <td>13:00 - 13:45</td>
                            <td><a href="{{site.baseurl}}/dbdbd2021#keynote"><strong>Keynote</strong></a></td>
                        </tr>

                        <tr>
                            <td>13:45 - 14:00</td>
                            <td>Coffee break &#9749;</td>
                        </tr>

                        <tr>
                            <td>14:00 - 14:45</td>
                            <td><a href="{{site.baseurl}}/dbdbd2021#who-is-who"><strong>Who is who</strong></a></td>
                        </tr>

                        <tr>
                            <td>14:45 - 15:00</td>
                            <td>Coffee break &#9749;</td>
                        </tr>

                        <tr>
                            <td>15:00 - 15:45</td>
                            <td><a href="{{site.baseurl}}/dbdbd2021#gong-show"><strong>Gong show</strong></a></td>
                        </tr>

                        <tr>
                            <td>15:45 - 16:00</td>
                            <td>Coffee break &#9749;</td>
                        </tr>

                        <tr>
                            <td>16:00 - 17:00</td>
                            <td><a href="{{site.baseurl}}/dbdbd2021#panel"><strong>Panel & Open Community
                                Discussion</strong></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="who-is-who" class="row pr-4 pl-5 margin-top-4">

                    <h4>Who is who</h4>
                    <p class="col-md-12"> For the first time at DBDBD, we introduce the "Who-is-who" session, with the
                        focus on
                        getting to know each other and strengthening the community, where each participating group will
                        give a short presentation to introduce themselves. We welcome the following: </p>

                    <ul>
                        <li>George Fletcher - <strong>Eindhoven University of Technology </strong></li>
                        <li>Sebastian Schelter - <strong>University of Amsterdam</strong></li>
                        <li>Bas Ketsman - <strong>Vrije Universiteit Brussel </strong></li>
                        <li>Maurice van Keulen - <strong>University of Twente </strong></li>
                        <li>Jacopo Urbani - <strong>Vrije Universiteit Amsterdam </strong></li>
                        <li>Yannis Velegrakis - <strong>Utrecht University </strong></li>
                        <li>Stijn Vansummeren - <strong>Hasselt University</strong></li>
                        <li>Stefan Manegold - <strong>CWI Amsterdam </strong></li>
                        <li>Floris Geerts - <strong>University of Antwerp</strong></li>
                        <li>Dimitris Sacharidis - <strong>Université Libre De Bruxelles</strong></li>
                        <li>Ekaterini Ioannou - <strong>Tilburg University</strong></li>
                        <li>Asterios Katsifodimos & Christoph Lofi - <strong>Delft University of Technology</strong>
                        </li>
                    </ul>

                </div>


                <div id="gong-show" class="row pr-4 pl-5 margin-top-4">

                    <h4>Gong show</h4>

                    <p class="col-md-12"> The abstracts and papers will be pitched in the following order: </p>

                    <ul>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_2.pdf"
                               target="_blank">Leveraging Temporal and Topological Selectivities in Temporal-clique
                                Subgraph Query Processing</a> <br/>
                            Kaijie Zhu, George Fletcher, Nikolay Yakovets <br/>
                            (Eindhoven University of Technology, NDSC - Zhengzhou, China)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_11.pdf"
                               target="_blank">Learning Embeddings of Events in Continuous-time Dynamic Graphs</a> <br/>
                            Duygu Sezen Islako&#287;lu, Sebastijan Duman&#269;i&#263; <br/>
                            (Utrecht University, Delft University of Technology)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_12.pdf"
                               target="_blank">Trident: An Adaptive Low-Level Database for Very Large Graphs</a> <br/>
                            Jacopo Urbani <br/>
                            (Vrije Universiteit Amsterdam)
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_3.pdf"
                               target="_blank">ARGUSEYES: Screening Native Machine Learning Pipelines</a> <br/>
                            Stefan Grafberger, Shubha Guha, Olivier Sprangers, Sebastian Schelter <br/>
                            (AIRLab, University of Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_4.pdf"
                               target="_blank">COSCFair: Ensuring Subgroup Fairness Through Fair Classification
                                Framework</a> <br/>
                            Begum Hattatoglu, Enas Khwaileh, Abdulhakim Qahtan, Heysem Kaya, Yannis Velegrakis <br/>
                            (Utrecht University and University of Trento)
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_6.pdf"
                               target="_blank">Serving Low-Latency Session-Based Recommendations at bol.com</a> <br/>
                            Barrie Kersbergen, Olivier Sprangers, Sebastian Schelter <br/>
                            (AIRLab, University of Amsterdam, bol.com)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_8.pdf"
                               target="_blank">Efficient External Sorting in DuckDB</a> <br/>
                            Laurens Kuiper <br/>
                            (CWI Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_10.pdf"
                               target="_blank">FastLanes: A SIMD-friendly Composable Compression Library</a> <br/>
                            Azim Afroozeh, Peter Boncz <br/>
                            (CWI Amsterdam)
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_19.pdf"
                               target="_blank">Stateful Entities: Object-oriented Cloud Applications as Distributed
                                Dataflows</a> <br/>
                            Wouter Zorgdrager, Kyriakos Psarakis, Marios Fragkoulis, Eelco Visser, Asterios Katsifodimos
                            <br/>
                            (Delft University of Technology)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_1.pdf"
                               target="_blank">Identifying SQL Misconceptions to Improve Database Education</a> <br/>
                            Daphne Miedema, Efthimia Aivaloglou, George Fletcher <br/>
                            (Eindhoven University of Technology, Leiden University, Open Universiteit)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_5.pdf"
                               target="_blank">From queries to data examples and back</a> <br/>
                            Balder ten Cate <br/>
                            (Universiteit van Amsterdam)
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_7.pdf"
                               target="_blank">Stable Conditional Metrics for Data Ingestion Validation</a> <br/>
                            Niels Bylois, Frank Neven, Stijn Vansummeren <br/>
                            (UHasselt, Data Science Institute, ACSL)
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_9.pdf"
                               target="_blank">Table Understanding in Practice</a> <br/>
                            Madelon Hulsebos <br/>
                            (University of Amsterdam)
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_14.pdf"
                               target="_blank">Amalur: Next-generation Data Integration in Data Lakes</a> <br/>
                            Rihan Hai, Christos Koutras, Andra Ionescu, Asterios Katsifodimos <br/>
                            (Delft University of Technology)
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/DBDBD2021_submissions/DBDBD2021_paper_18.pdf"
                               target="_blank">Exploring Data Pipelines through the Process Lens: a Reference Model for
                                Computer Vision and its Implications for Understanding Algorithmic Harms</a> <br/>
                            Agathe Balayn <br/>
                            (Delft University of Technology)
                        </li>
                    </ul>


                </div>


                <div id="panel" class="row pr-4 pl-5 margin-top-4">

                    <div class="col-md-12">
                        <h4>Panel - <i>Role of database community in AI era</i></h4>

                        <div class="row margin-top-2" hidden>
                            <div class="col-md-12">
                                <h4> Moderator</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="blockquote-box blockquote-people">
                                    <img src="{{site.baseurl}}/assets/img/people/Asterios Katsifodimos.jpg"
                                         alt="Asterios Katsifodimos" class="person-image">
                                    <h4 class="margin-top-2"><a href="http://asterios.katsifodimos.com">Asterios
                                        Katsifodimos</a></h4>
                                    <h5>Assistant Professor @ <a href="https://www.tudelft.nl/">TU Delft</a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="row margin-top-2" hidden>
                            <div class="col-md-12">
                                <h4>Panelists</h4>
                            </div>
                            <div class="col-md-4">
                                <div class="blockquote-box blockquote-people">
                                    <img src="{{site.baseurl}}/assets/img/people/Geert-Jan Houben.jpg"
                                         alt="Geert-Jan Houben" class="person-image">
                                    <h4 class="margin-top-2"><a href="gjhouben.nl">Geert-Jan Houben</a></h4>
                                    <h5><a href="https://www.wis.ewi.tudelft.nl">TU Delft</a></h5>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="blockquote-box blockquote-people">
                                    <img src="{{site.baseurl}}/assets/img/dbdbd/boncz.jpg"
                                         alt="Peter Boncz" class="person-image">
                                    <h4 class="margin-top-2"><a href="https://homepages.cwi.nl/~boncz/">Peter Boncz</a></h4>
                                    <h5><a href="https://www.cwi.nl">CWI</a></h5>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="blockquote-box blockquote-people">
                                    <a class="square pull-left" href="">
                                        <img src="{{site.baseurl}}/assets/img/people/Asterios Katsifodimos.jpg"
                                             alt="Asterios Katsifodimos" class="person-image">
                                    </a>
                                    <h4 class="margin-top-2"><a href="https://pgroth.com/">Paul </a></h4>
                                    <h5><a href="https://ivi.uva.nl/?cb"> University of Amsterdam</a></h5>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</section>