<section id="registration" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3 class="text-left"> Registration </h3>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <p>
                        The registration is free. Please register by filling in this
                        <a href="https://forms.gle/Jcga2GUJuBqEVJLy6" target="_blank">form</a>
                        by <strong>3rd of December 2021</strong>.
                    </p>
                    <p>
                        For any questions regarding registration please send an e-mail to a.katsifodimos@tudelft.nl.
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>