<section id="submissions" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <h3>Submissions </h3>

            <div class="col-md-12">
                <h5 class="text-left"> Scope </h5>
                <div class="row pr-4 pl-5">
                    DBDBD 2019 invites submissions (1 page abstract) on all topics related to database research,
                    including but not limited to:
                    <ul>
                        <li>data storage, indexing, and management;</li>
                        <li>database theory, data models, semantics and languages;</li>
                        <li>database performance and scalability;</li>
                        <li>data integration, data quality, data cleaning, ontologies;</li>
                        <li>data mining, machine learning, information retrieval;</li>
                        <li>data security, privacy and personalization;</li>
                        <li>big data and data science;</li>
                        <li>...</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12">
                <h5 class="text-left"> Submission guidelines </h5>
                <div class="row pr-4 pl-5">
                    <p>
                        DBDBD has a tradition of favoring presentations by junior researchers. Proposals for
                        presentations should be made before or on <strong>12 November 2021</strong>.
                        Each submission should contain:
                    </p>
                    <ul style="width: 100%">
                        <li>the title of the presentation;</li>
                        <li>the name and affiliation of the prospective speaker;</li>
                        <li>an abstract of the presentation;</li>
                        <li>reference(s) to papers covered by the proposed presentation.</li>
                    </ul>
                    <p style="width: 100%">
                        The format is a one-page pdf-document, to be sent to: <strong>TODO</strong>
                    </p>
                    <p style="width: 100%">
                        All accepted abstracts will be presented at the workshop as a pitch and as a poster.
                    </p>
                    <p>
                        There are no printed proceedings. Accepted abstracts will be published on the program page of
                        the DBDBD 2021 website.
                    </p>

                </div>
            </div>

            <div class="col-md-12">
                <h5 class="text-left"> Important dates </h5>
                <ul>
                    <li>
                        <strong>Abstract submission: </strong> 12 November 2021
                    </li>
                    <li>
                        <strong>Notification: </strong> 19 November 2021
                    </li>
                    <li>
                        <strong>Registration deadline: </strong> 03 December 2021
                    </li>
                    <li>
                        <strong>Workshop: </strong> 10 December 2021
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>