<section id="important-dates" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> IMPORTANT DATES </h2>
            </div>

            <div class="col-md-12 margin-top-3">
                <div class="col-6">
                    <p> All deadlines are 11:59PM PST.
                    </p>
                    <table class="table table-hover table-sm">
                        <tbody>
                        <tr>
                            <td class="no-border-top"><strong>Submission deadline: </strong></td>
                            <td class="no-border-top">
                                <del>04 January 2023</del>
                                <strong>(extended)</strong>  11 January 2023
                            </td>
                        </tr>

                        <tr>
                            <td><strong>Author notification: </strong></td>
                            <td> 01 February 2023 </td>
                        </tr>

                        <tr>
                            <td><strong>Camera-ready version:</strong></td>
                            <td> 13 February 2023 </td>
                        </tr>

                        <tr>
                            <td><strong>Workshop day: </strong></td>
                            <td> 3 April 2023</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
