<head>
  <!-- meta data & title -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ include.description }}">
  <meta name="author" content="Andra-Denis Ionescu">
  <meta name="google-site-verification" content="QIfyu7f_kltDLMQ2TAo52s7UfkZhtVoAkDZxDWGefeM" />

  <!-- Favicon and touch icons -->
<!--  <link rel="shortcut icon" href="{{site.baseurl}}/assets/ico/favicon.ico">-->

  <!-- CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">

  {% feed_meta %}
  {% seo %}

</head>