<section id="keynote" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> KEYNOTES </h2>
            </div>

            <!-- <div class="col-md-12 margin-top-10" id="keynote-martin">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/MartinGrohe.jpg"
                             alt="Martin Grohe" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Towards a Theory of Vector Embeddings of Graphs and Relational
                            Data</h4>
                        <h5 class="padding-bottom-1">Martin Grohe, RWTH Aachen University, Germany</h5>
                        <p><strong>ABSTRACT.</strong>Vector representations of graphs and relational data, whether
                            hand-crafted feature vectors or learned representations, enable us to apply standard data
                            analysis and machine learning techniques to these forms of structured data. A wide range of
                            methods for generating such vector embeddings has been studied in the machine learning and
                            knowledge representation literature. However, vector embeddings have received relatively
                            little attention from a theoretical point of view.</p>

                        <p>The first part of my talk will be devoted to embedding algorithms in practice. Starting with
                            a brief overview of common embedding techniques, I will speak about a new embedding
                            algorithm for dynamically changing relational data. In the second part of my talk, I will
                            discuss theoretical ideas that have proved useful for analysing and designing vector
                            embeddings and that may help us to develop a more principled view on the area.</p>
                        <p><strong>ABOUT.</strong> Martin Grohe is a computer scientist known for his research on
                            parameterized complexity, mathematical logic, finite model theory, the logic of graphs,
                            database theory, and descriptive complexity theory. He is a University Professor of Computer
                            Science at RWTH Aachen University, where he holds the Chair for Logic and Theory of Discrete
                            Systems. Grohe won the Heinz Maier-Leibnitz Prize awarded by the German Research Foundation
                            in 1999. He was elected as an ACM Fellow in 2017 for "contributions to logic in computer
                            science, database theory, algorithms, and computational complexity".</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 margin-top-10" id="keynote-paul">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/paul_groth.jpeg"
                             alt="Paul Groth" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Data Curation and Debugging for Data Centric AI</h4>
                        <h5 class="padding-bottom-1">Paul Groth, University of Amsterdam, The Netherlands</h5>
                        <p><strong>ABSTRACT.</strong> It is increasingly recognized that data is a central challenge for
                            AI systems - whether training an entirely new model, discovering data for a model, or
                            applying an existing model to new data. Given this centrality of data, there is need to
                            provide new tools that are able to help data teams create, curate and debug datasets in the
                            context of complex machine learning pipelines. In this talk, I outline the underlying
                            challenges for data debugging and curation in these environments. I then discuss our recent
                            research that both takes advantage of ML to improve datasets but also uses core database
                            techniques for debugging in such complex ML pipelines.</p>
                        <p><strong>ABOUT.</strong> Paul Groth is Professor of Algorithmic Data Science at the University
                            of Amsterdam where he leads the Intelligent Data Engineering Lab (INDElab). He holds a Ph.D.
                            in Computer Science from the University of Southampton (2007) and has done research at the
                            University of Southern California, the Vrije Universiteit Amsterdam and Elsevier Labs. His
                            research focuses on intelligent systems for dealing with large amounts of diverse
                            contextualized knowledge with a particular focus on web and science applications. This
                            includes research in data provenance, data integration and knowledge sharing.
                        </p>
                        <p>
                            Paul is scientific director of the UvA’s Data Science Center. Additionally, he is
                            co-scientific director of two Innovation Center for Artificial Intelligence (ICAI) labs: The
                            AI for Retail (AIR) Lab - a collaboration between UvA and Ahold Delhaize; and the Discovery
                            Lab - a collaboration between Elsevier, the University of Amsterdam and VU University
                            Amsterdam.
                        </p>
                    </div>
                </div>
            </div> -->
            <td>TBD</td>


            <div class="col-md-12 text-center margin-top-10">
                <h2> INVITED TALKS </h2>
            </div>

             <div class="col-md-12 margin-top-10" id="talk-jyoti">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/mahmoud.jpg"
                             alt="Mahmoud Abo Khamis" class="person-image">
                    </div>

                    <div class="col-md-8 ">
                        <h4 class="padding-bottom-1">Relational AutoDiff</h4>
                        <h5 class="padding-bottom-1">Mahmoud Abo Khamis, Senior Computer Scientist, RelationalAI</h5>
                        <p><strong>ABSTRACT.</strong> Modern database systems have been progressively expanding their use cases far outside traditional bookkeeping 
                            and data analytics, and into artificial intelligence workloads like machine learning and mathematical optimization. This in turn motivates 
                            the need for native in-database automatic differentiation to better support these use cases.

                            In this talk, we present RelationalAD (RAD), our framework for automatic differentiation at RelationalAI (RAI). 
                            Rel, the modeling language underlying RelationalAI, is declarative and can be viewed as a generalization of Datalog 
                            with infinite relations (e.g. arithmetic), aggregation, and relational abstraction. The input to RAD is a Rel program 
                            that defines a (set of) relational views and the output is another Rel program that defines new views that are the derivatives 
                            with respect to some given input relations. We show that performing AutoDiff inside a high-level database language like Rel 
                            allows us to evaluate derivatives while enjoying many features offered by the underlying database engine like factorization, 
                            query optimization and compilation, as well as support for higher-order derivatives. We present several examples covering 
                            recursive Rel programs, matrix calculus, neural network training, and gradient descent among others. We conclude with some challenges, 
                            design issues, as well as open problems.</p>
                        <p><strong>ABOUT.</strong> Mahmoud Abo Khamis is a Senior Computer Scientist at RelationalAI since 2017. 
                            He received his Ph.D. in Computer Science and Engineering from the State University of New York at Buffalo in 2016. 
                            He also worked as a Senior Database Engineer at Infor from 2015 until 2017. His research interests include database systems and theory, 
                            in-database machine learning, query optimization and evaluation, information theory, and beyond worst-case analysis. 
                            His work has received two PODS Best Paper Awards in 2016 and 2022, two SIGMOD Research Highlight Awards in 2016 and 2022, 
                            and the Best CSE Dissertation Award 2016 from SUNY Buffalo. His work also received several invitations to the Journal of the ACM, 
                            the ACM TODS, and the ACM STOC. He served on the program committees of PODS 2019, PODS 2021, and ICDT 2022, and he is also a reviewer 
                            for the VLDB Journal and the ACM TODS among others.
                        </p>
                    </div>
                </div>
            </div>


   <!--         <div class="col-md-12 margin-top-10" id="talk-jie">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/people/Jie Yang.jpg"
                             alt="Jie Yang" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">ARCH: Know What Your Machine Doesn’t Know</h4>
                        <h5 class="padding-bottom-1">Jie Yang, Assistant Professor, Delft University of Technology</h5>
                        <p><strong>ABSTRACT.</strong> Despite their impressive performance, machine learning systems
                            remain prohibitively unreliable in safety-, trust-, and ethically sensitive domains. Recent
                            discussions in different sub-fields of AI have reached the consensus of knowledge need in
                            machine learning; few discussions have touched upon the diagnosis of what knowledge is
                            needed. In this talk, I will present our ongoing work on ARCH, a knowledge-driven,
                            human-centered, and reasoning-based tool, for diagnosing the unknowns of a machine learning
                            system. ARCH leverages human intelligence to create domain knowledge required for a given
                            task and to describe the internal behavior of a machine learning system; it infers the
                            missing or incorrect knowledge of the system with the built-in probabilistic, abductive
                            reasoning engine. ARCH is a generic tool that can be applied to machine learning in
                            different contexts. In the talk, I will present several applications and domains in which
                            ARCH is currently being developed and tested, including health, finance, and transport.</p>
                        <p><strong>ABOUT.</strong> Jie Yang is an assistant professor at the Web Information Systems
                            (WIS) group in TU Delft. He co-leads the Kappa research line on Crowd Computing &
                            Human-Centered AI at
                            the WIS group and the Delft AI Lab Design@Scale in the university. Before, he was a machine
                            learning scientist at Alexa Shopping, Amazon Research, based in Seattle, and a senior
                            researcher at the eXascale Infolab, University of Fribourg - Switzerland. He works on
                            human-in-the-loop approaches for reliable and trustworthy machine learning. His research
                            contributes a new set of human-in-the-loop methods and tools for the development and
                            evaluation of, and the interaction with, machine learning systems.</p>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</section>