<section id="organisation" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> ORGANISATION </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/hai" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Rihan.jpg"
                                         alt="Rihan Hai" class="person-image">
                                </div>
                                <h4> Rihan Hai </h4>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="http://nantiamakrynioti.com/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Nantia.jpg"
                                         alt="Nantia Makrynioti" class="person-image">
                                </div>
                                <h4> Nantia Makrynioti </h4>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://pages.saclay.inria.fr/ioana.manolescu/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Ioana.png"
                                         alt="Ioana Manolescu" class="person-image">
                                </div>
                                <h4> Ioana Manolescu </h4>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="row pr-4 pl-5 margin-top-2">
                    <div class="col-lg-4 col-md-6">
                        <a href="https://andraionescu.github.io/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Andra.jpg"
                                         alt="Andra Ionescu" class="person-image">
                                </div>
                                <h4> Andra Ionescu </h4>
                                <h6> Workshop chair </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/weno" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/wenbosun.jpg"
                                         alt="Andra Ionescu" class="person-image">
                                </div>
                                <h4> Wenbo Sun </h4>
                                <h6> Publicity chair </h6>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Program committee: </h4>
                    <!-- <ul id="pc-members" class="col-md-12">
                        <li class="margin-top-2">Hazar Harmouch - Hasso Plattner Institute, Germany</li>
                        <li>Roee Shraga - Technion - Israel Institute of Technology, Israel</li>
                        <li>Syed Muhammad Fawad Ali - Poznan University of Technology, Poland</li>
                        <li>Rana Alotaibi - University of California San Diego, USA</li>
                        <li>Christos Koutras - Delft University of Technology, The Netherlands</li>
                        <li>Zoi Kaoudi - Qatar Computing Research Institute, Qatar</li>
                        <li>Marios Fragkoulis - University of Ioannina, Greece</li>
                        <li>Nikolaos Vasiloglou - relationalAI</li>
                        <li>Stefan Manegold - CWI, The Netherlands</li>
                    </ul> -->
                    TBD
                </div>
            </div>
        </div>
    </div>
</section>