<section id="organisation" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> ORGANISATION </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/hai" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Rihan.jpg"
                                         alt="Rihan Hai" class="person-image">
                                </div>
                                <h4> Rihan Hai </h4>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="http://nantiamakrynioti.com/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Nantia.jpg"
                                         alt="Nantia Makrynioti" class="person-image">
                                </div>
                                <h4> Nantia Makrynioti </h4>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.microsoft.com/en-us/research/people/kwpark/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/park.jpg"
                                         alt="Kwanghyun Park" class="person-image">
                                </div>
                                <h4> Kwanghyun Park </h4>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="row pr-4 pl-5 margin-top-2">
                    <div class="col-lg-4 col-md-6">
                        <a href="http://dbgroup.cs.tsinghua.edu.cn/chaicl/index.html" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/chai.jpg"
                                         alt="Chengliang Chai" class="person-image">
                                </div>
                                <h4>Chengliang Chai  </h4>
                                <h6> Workshop chair </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <a href="https://andraionescu.github.io/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Andra.jpg"
                                         alt="Andra Ionescu" class="person-image">
                                </div>
                                <h4> Andra Ionescu </h4>
                                <h6> Workshop chair </h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/sun" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/wenbosun.jpg"
                                         alt="Wenbo Sun" class="person-image">
                                </div>
                                <h4> Wenbo Sun </h4>
                                <h6> Publicity chair </h6>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Program committee: </h4>
                    <ul id="pc-members" class="col-md-12">
                        <li class="margin-top-2">Dan Olteanu - University of Zurich, Switzerland</li>
                        <li>Asterios Katsifodimos - TU Delft, The Netherlands</li>
                        <li>Rana Alotaibi - Microsoft Gray Systems Lab</li>
                        <li>Zoi Kaoudi - TU Berlin, Germany</li>
                        <li>Xiaoou Ding - Harbin Institute of Technology, China</li>
                        <li>Marios Fragkoulis - DeliveryHero, Greece</li>
                        <li>Christos Koutras - TU Delft, The Netherlands</li>
                        <li>Hazar Harmouch - Hasso-Plattner-Institut, Germany</li>
                        <li>Syed Ali - Accenture, Germany</li>
                        <li>Xuanhe Zhou - Tsinghua University, China</li>
                        <li>Lampros Flokas - Columbia University, USA</li>
                        <li>Gerardo Vitagliano - Hasso-Plattner-Institut, Germany</li>
                        <li>Roee Shraga - Northeastern University, USA</li>
                        <li>Chao Zhang - Tsinghua University, China</li>
                        <li>Shuang Hao - Beijing Jiaotong University, China</li>
                        <li>Fatemeh Nargesian - University of Rochester, USA</li>
                        <li>Yuyu Luo - Tsinghua University, China</li>
                        <li>Zezhou Huang - Columbia University, USA</li>
                        <li>Utuk Sirin - Harvard University, USA</li>
                        <li>Bojan Karlaš - ETH Zurich, Switzerland</li>
                        <li>Madelon Hulsebos - University of Amsterdam, The Netherlands</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
