<section id="program" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> PROGRAM </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <!-- <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Accepted papers: </h4>
                    <ul id="accepted-papers" class="col-md-12">
                        <li class="margin-top-1">
                            <strong>Datastack: Unification of Heterogeneous Machine Learning Dataset Interfaces</strong>
                            <br/>
                            Max L&#252;bbering, Maren Pielka, Ilhamcengiz Henk and Rafet Sifa
                        </li>

                        <li>
                            <strong>Evaluating the Lottery Ticket Hypothesis to Sparsify Neural Networks for Time Series
                                Classification</strong> <br/>
                            Georg Stefan Schlake, Jan David H&#252;wel, Fabian Berns and Christian Beecks
                        </li>

                        <li>
                            <strong>GitSchemas: A Dataset for Automating Relational Data Preparation Tasks</strong>
                            <br/>
                            Till D&#246;hmen, Madelon Hulsebos, Christian Beecks and Sebastian Schelter
                        </li>

                        <li>
                            <strong>Sample-based Kernel Structure Learning with Deep Neural Networks for Automated
                                Structure Discovery</strong> <br/>
                            Alexander Gra&#223;, Till D&#246;hmen and Christian Beecks
                        </li>

                        <li>
                            <strong>Join Path Based Data Augmentation for Decision Trees</strong> <br/>
                            Andra Ionescu, Rihan Hai, Marios Fragkoulis and Asterios Katsifodimos
                        </li>
                    </ul>
                </div>


                <div class="row pr-4 pl-5 margin-top-4">
                    <table class="table table-hover table-bordered table-sm text-center">
                        <thead>
                        <tr>
                            <th scope="col" class="no-border">Malaysia (MYT)</th>
                            <th scope="col" class="no-border">Amsterdam (CEST)</th>
                            <th scope="col" class="no-border">Activity</th>
                            <th scope="col" class="no-border">Title</th>
                            <th scope="col" class="no-border">Presenter</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>14:00 - 14:10</td>
                            <td>8:00 - 8:10</td>
                            <td colspan="3" class="text-center">Opening &#127881;</td>
                        </tr>

                        <tr>
                            <td>14:10 - 14:55</td>
                            <td>8:10 - 8:55</td>
                            <td>Keynote 1</td>
                            <td>
                                <a href="{{site.baseurl}}/dbml2022#keynote-martin">Towards a Theory of Vector Embeddings
                                    of Graphs and Relational Data</a>
                                <a href="https://youtu.be/tGdt4iMhR8c" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Martin Grohe (RWTH Aachen University)</td>
                        </tr>

                        <tr>
                            <td>14:55 - 15:30</td>
                            <td>8:55 - 9:30</td>
                            <td>Invited Talk 1</td>
                            <td><a href="{{site.baseurl}}/dbml2022#talk-jyoti"> Query Optimizer as a Service: An Idea
                                Whose Time Has Come!</a>
                                <a href="https://youtu.be/mytzT797Fwc" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Jyoti Leeka (Microsoft Research)</td>
                        </tr>

                        <tr>
                            <td>15:30 - 15:40</td>
                            <td>9:30 - 9:40</td>
                            <td colspan="3" class="text-center">Coffee break &#9749;</td>
                        </tr>

                        <tr>
                            <td>15:40 - 16:25</td>
                            <td>9:40 - 10:25</td>
                            <td>Keynote 2</td>
                            <td><a href="{{site.baseurl}}/dbml2022#keynote-paul"> Data Curation and Debugging for Data
                                Centric AI</a>
                                <a href="https://youtu.be/0R7AfFLeKZE" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Paul Groth (University of Amsterdam)</td>
                        </tr>

                        <tr>
                            <td>16:25 - 16:45</td>
                            <td>10:25 - 10:45</td>
                            <td>Research Talk 1</td>
                            <td>GitSchemas: A Dataset for Automating Relational Data Preparation Tasks
                                <a href="https://youtu.be/UWbTp2Tt5HE" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>

                                <a href="https://ieeexplore.ieee.org/document/9814699" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Till D&#246;hmen</td>
                        </tr>

                        <tr>
                            <td>16:45 - 17:05</td>
                            <td>10:45 - 11:05</td>
                            <td>Research Talk 2</td>
                            <td>Join Path Based Data Augmentation for Decision Trees
                                <a href="https://youtu.be/yta0OWNBv-c" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>

                                <a href="https://ieeexplore.ieee.org/document/9814493/" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Andra Ionescu</td>
                        </tr>

                        <tr>
                            <td>17:05 - 17:20</td>
                            <td>11:05 - 11:20</td>
                            <td colspan="3" class="text-center">Coffee break &#9749;</td>
                        </tr>

                        <tr>
                            <td>17:20 - 17:55</td>
                            <td>11:20 - 11:55</td>
                            <td>Invited Talk 2</td>
                            <td><a href="{{site.baseurl}}/dbml2022#talk-jie"> ARCH: Know What Your Machine Doesn’t
                                Know</a>
                                <a href="https://youtu.be/ULxxZdeIQSU" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Jie Yang (Delft University of Technology)</td>
                        </tr>

                        <tr>
                            <td>17:55 - 18:15</td>
                            <td>11:55 - 12:15</td>
                            <td>Research Talk 3</td>
                            <td>Sample-based Kernel Structure Learning with Deep Neural Networks for Automated Structure
                                Discovery
                                <a href="https://youtu.be/iIjO8Tbg-pU" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>

                                <a href="https://ieeexplore.ieee.org/abstract/document/9814660" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Alexander Gra&#223;</td>
                        </tr>

                        <tr>
                            <td>18:15 - 18:35</td>
                            <td>12:15 - 12:35</td>
                            <td>Research Talk 4</td>
                            <td>Datastack: Unification of Heterogeneous Machine Learning Dataset Interfaces
                                <a href="https://youtu.be/EYRJjJC1khE" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>

                                <a href="https://ieeexplore.ieee.org/document/9814695/" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Max L&#252;bbering</td>
                        </tr>

                        <tr>
                            <td>18:35 - 18:55</td>
                            <td>12:35 - 12:55</td>
                            <td>Research Talk 5</td>
                            <td>Evaluating the Lottery Ticket Hypothesis to Sparsify Neural Networks for Time Series
                                Classification
                                <a href="https://youtu.be/f4TxrtDR30Q" target="_blank">
                                    <i class="fa fa-youtube-play" style="font-size:24px; padding-left: 0.5vw;"></i>
                                </a>

                                <a href="https://ieeexplore.ieee.org/document/9814603/" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a>
                            </td>
                            <td>Georg Schlake</td>
                        </tr>

                        <tr>
                            <td>18:55 - 19:00</td>
                            <td>12:55 - 13:00</td>
                            <td colspan="3" class="text-center">Closing</td>
                        </tr>
                        </tbody>
                    </table>
                </div> -->
                TBD

            </div>

        </div>
    </div>
</section>