<section id="program" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> PROGRAM </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Accepted papers: </h4>
                    <ul id="accepted-papers" class="col-md-12">
                        <li class="margin-top-1">
                            <strong>Provenance-based Explanations for Machine Learning (ML) Models</strong>
                            <br/>
                            Justin Turnau, Nkechi Akwari, Seokki Lee and Dwarkesh Rajput
                        </li>

                        <li>
                            <strong>Privacy-preserving Data Federation for Trainable, Queryable and Actionable Data</strong> <br/>
                            Stavroula Iatropoulou, Theodora Anastasiou, Sophia Karagiorgou, Petros Petrou, Dimitrios Alexandrou and Thanassis Bouras
                        </li>

                        <li>
                            <strong>Imputation of Missing Values in Training Data using Variational Autoencoder</strong>
                            <br/>
                            Xuerui Hong and Shuang Hao
                        </li>

                        <li>
                            <strong>COAX: Correlation-Aware Indexing</strong> <br/>
                            Ali Hadian, Behzad Ghaffari, Taiyi Wang and Thomas Heinis
                        </li>

                        <li>
                            <strong>Efficient Index Learning via Model Reuse and Fine-tuning</strong> <br/>
                            Guanli Liu, Jianzhong Qi, Lars Kulik, Kazuya Soga, Renata Borovica-Gajic and Benjamin I. P. Rubinstein
                        </li>
                        <li>
                            <strong>A Fast Hybrid Spatial Index with External Memory Support</strong> <br/>
                            Xinyu Su, Jianzhong Qi and Egemen Tanin
                        </li>
                        <li>
                            <strong>Optimizing Machine Learning Inference Queries for Multiple Objectives</strong> <br/>
                            Ziyu Li, Mariette Schönfeld, Rihan Hai, Alessandro Bozzon and Asterios Katsifodimos
                        </li>
                        <li>
                            <strong>Unsupervised Intra-Domain Adaptation for Recommendation via Uncertainty Minimization</strong> <br/>
                            Chenghao Chen, Jie Xiao, Jin Liu, Jie Zhang, Jia Jia and Ning Hu
                        </li>
                    </ul>
                </div>


                <div class="row pr-4 pl-5 margin-top-4">
                    <table class="table table-hover table-bordered table-sm text-center">
                        <thead>
                        <tr>
                            <th scope="col" class="no-border">Carlifornia (PST)</th>
                            <th scope="col" class="no-border">Activity</th>
                            <th scope="col" class="no-border">Title</th>
                            <th scope="col" class="no-border">Presenter</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>8:30 - 8:40</td>
                            <td colspan="3" class="text-center">Opening</td>
                        </tr>

                        <tr>
                            <td>8:40 - 9:25</td>
                            <td>Keynote 1</td>
                            <td>
                                <a href="{{site.baseurl}}/dbml2023#keynote-matteo">How Databases and Machine Learning Systems Can Benefit from Each Other: A Perspective from Product and Research</a>
            
                            </td>
                            <td>Matteo Interlandi (Gray System Lab, Microsoft)</td>
                        </tr>

                        <tr>
                            <td>9:25 - 9:45</td>
                            <td>Research talk 1</td>
                            <td> Imputation of Missing Values in Training Data using Variational Autoencoder
                            </td>
                        </tr>
                        <tr>
                            <td>9:45 - 10:05</td>
                            <td>Research talk 2</td>
                            <td> Unsupervised Intra-Domain Adaptation for Recommendation via Uncertainty Minimization (Online)
                            </td>
                        </tr>

                        <tr>
                            <td>10:05 - 10:30</td>
                            <td colspan="3" class="text-center">Coffee break &#9749;</td>
                        </tr>
                        <tr>
                            <td>10:30 - 11:15</td>
                            <td>Keynote 2</td>
                            <td>
                                <a href="{{site.baseurl}}/dbml2023#keynote-ce">Optimizing Communications and Data for Large-scale Learning</a>
            
                            </td>
                            <td>Ce Zhang (ETH Zurich)</td>
                        </tr>
                        <tr>
                            <td>11:15 - 11:50</td>
                            <td>Invited talk 1</td>
                            <td><a href="{{site.baseurl}}/dbml2023#talk-mahmoud"> Relational AutoDiff</a>
                            </td>
                            <td>Mahmoud Abo Khamis (RelationalAI)</td>
                        </tr>

                        <tr>
                            <td>11:50 - 12:05</td>
                            <td>Research talk 3</td>
                            <td>Optimizing Machine Learning Inference Queries for Multiple Objectives
                                <!-- <a href="https://ieeexplore.ieee.org/document/9814699" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> -->
                            </td>
                        </tr>

                        <tr>
                            <td>12:05 - 12:20</td>
                            <td>Research talk 4</td>
                            <td>Provenance-based Explanations for Machine Learning (ML) Models
                                <!-- <a href="https://ieeexplore.ieee.org/document/9814699" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> -->
                            </td>
                        </tr>
                        <tr>
                            <td>12:20 - 12:35</td>
                            <td>Research talk 5</td>
                            <td>Privacy-preserving Data Federation for Trainable, Queryable and Actionable Data
                                <!-- <a href="https://ieeexplore.ieee.org/document/9814699" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> -->
                            </td>
                        </tr>

                        <tr>
                            <td>12:35 - 14:00</td>
                            <td colspan="3" class="text-center">Lunch &#9749;</td>
                        </tr>

                        <tr>
                            <td>14:00 - 14:45</td>
                            <td>Keynote 3</td>
                            <td><a href="{{site.baseurl}}/dbml2023#keynote-immanuel"> Towards AI-Generated Database Management Systems</a>
                            </td>
                            <td>Immanuel Trummer (Cornell University)</td>
                        </tr>

                        <tr>
                            <td>14:45 - 15:05</td>
                            <td>Research talk 6</td>
                            <td>Efficient Index Learning via Model Reuse and Fine-tuning

                                <!-- <a href="https://ieeexplore.ieee.org/abstract/document/9814660" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> -->
                            </td>
                        </tr>

                        <tr>
                            <td>15:05 - 15:25</td>
                            <td>Research talk 7</td>
                            <td>A Fast Hybrid Spatial Index with External Memory Support

                                <!-- <a href="https://ieeexplore.ieee.org/document/9814695/" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> -->
                            </td>
                        </tr>

                        <tr>
                            <td>15:25 - 15:40</td>
                            <td>Research talk 8</td>
                            <td>COAX: Correlation-Aware Indexing (Online)
                                <!-- <a href="https://ieeexplore.ieee.org/document/9814603/" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> -->
                            </td>
                        </tr>

                        <tr>
                            <td>15:40 - 16:00</td>
                            <td colspan="3" class="text-center">Coffee break</td>
                        </tr>
                        <tr>
                            <td>16:00 - 16:35</td>
                            <td>Invited talk 2</td>
                            <td><a href="{{site.baseurl}}/dbml2023#talk-feng"> Applying Compressed Data Direct Computing from Database to ML Workloads</a>
                            </td>
                            <td>Feng Zhang (Renmin University of China)</td>
                        </tr>
                        <tr>
                            <td>16:35 - 17:35</td>
                            <td>Panel</td>
                            <td><a href="{{site.baseurl}}/dbml2023#panel">Datalakes, AI and the Cloud</a>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>17:35</td>
                            <td colspan="3" class="text-center">Ending</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</section>