<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="row justify-content-begin" style="margin-left: 0">
                    <h3>Links</h3>
                </div>
                <ul id="footer-menu">
                    <li><a href="{{site.baseurl}}/"> About </a></li>
                    <li><a href="{{site.baseurl}}/people"> People </a></li>
                    <li><a href="{{site.baseurl}}/research-themes"> Research Themes </a></li>
                    <li><a href="{{site.baseurl}}/publications"> Publications </a></li>
                    <li><a href="{{site.baseurl}}/teaching"> Education </a></li>
                    <li><a href="{{site.baseurl}}/vacancies"> Vacancies </a></li>
                    <li><a href="{{site.baseurl}}/contact"> Contact</a></li>
                </ul>
            </div>
        
            <div class="col-xs-12 col-md-6 col-lg-3 footer-contact">
                <h3>Contact</h3>
                <p><b>{{ site.company_name }}</b></p>
                <p>{{ site.building }} <br/>
                    {{ site.room }} <br/>
                    {{ site.street }} <br/>
                    {{ site.zipcode }} <br/>
                    {{ site.country }} <br/>
                    Phone: {{ site.telephone_number }}</p>
            </div>
        
            <div class="col-xs-12 col-md-12 col-lg-6">
                <div class="row justify-content-center">
                    <h3 class="text-center"><a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/software-technology" target="_blank">Department of Software Technology</a></h3>
                </div>
                <div id="footer-logos" class="row justify-content-center align-items-end">
                    <a href="https://tudelft.nl" title="TU Delft">
                        <svg focusable="false" role="img" height="46" width="105">
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                    <img title="Data-Intensive Systems" alt="Data-Intensive Systems" draggable="false" height="32" src="assets/img/dis-logo-white.svg" />
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="copyright text center">-->
    <!--        <p>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>-->
    <!--    </div>-->
</footer>

<style>

</style>