<!-- Footer -->
<footer class="pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 margin-top-2">
                <div class="row">
                    <h3 class="text-center margin-top-4"><a
                            href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/software-technology"
                            target="_blank"> Department of Software Technology </a></h3>
                </div>
            </div>

            <div class="col-md-3 margin-top-2">
                <h3>Links</h3>
                <p><a href="{{site.baseurl}}/"> About </a> <br/>
                    <a href="{{site.baseurl}}/people"> People </a> <br/>
                    <a href="{{site.baseurl}}/research-themes"> Research Themes </a> <br/>
                    <a href="{{site.baseurl}}/publications"> Publications </a> <br/>

                    <a href="{{site.baseurl}}/teaching"> Education </a> <br/>
                    <a href="{{site.baseurl}}/vacancies"> Vacancies </a> <br/>
                    <a href="{{site.baseurl}}/contact"> Contact </a></p>
            </div>

            <div class="col-md-3 margin-top-2 footer-contact">
                <h3>Contact</h3>
                <p><b>{{ site.company_name }}</b></p>
                <p> {{ site.building }} <br/>
                    {{ site.room }} <br/>
                    {{ site.street }} <br/>
                    {{ site.zipcode }} <br/>
                    {{ site.country }} <br/>
                Phone: {{ site.telephone_number }}</p>
            </div>

        </div>
    </div>

<!--    <div class="copyright text center">-->
<!--        <p>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>-->
<!--    </div>-->
</footer>