
{% assign publication_link = include.pub_link%}

<script language="javascript">
    let link = "{{publication_link}}"
    let xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("publicationlist").innerHTML = this.responseText;
        }
    };
    xhttp.open("GET", link, true);
    xhttp.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    xhttp.setRequestHeader('Access-Control-Allow-Origin', '*');
    xhttp.setRequestHeader('Access-Control-Allow-Methods', 'GET');
    xhttp.setRequestHeader('Access-Control-Allow-Headers', 'Content-Type');
    xhttp.send();

</script>