<!-- Header -->
<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">

        <div id="navbar-spy" class="navbar-collapse navbar-responsive-collapse">
            <div class="row align-items-center">
                <div class="col-md-2">
                    <a href="{{site.baseurl}}/">
                        <img class="office-logo"
                             src="{{site.baseurl}}/assets/img/TUD-logo.png"
                             alt="Logo">
                    </a>
                </div>

                <div class="col-md-10">
                    <ul class="nav pull-right flex-row">
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/">About</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/people.html">People</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/research-themes.html">Research Themes</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/publications.html">Publications</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/teaching.html">Education</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/vacancies.html">Vacancies</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/contact.html"><span>Contact</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- End Header -->