<ul class="news">
    <li> The third edition of The Academic Fringe Festival on the theme of <a href="https://www.academicfringe.org/events/designing-at-scale-with-human-ai-collaboration" target="_blank">"Designing at Scale with Human-AI Collaboration"</a> will begin on March 7, 2022 and run through till June, 2022. 
    </li>   
     <li> Three full papers from WIS Delft members have been accepted at the premier HCI conference ACM Human Factors in Computing Systems, <a href="https://chi2022.acm.org" target="_blank">CHI 2022</a>! 
    </li>   
    <li> Three full papers from WIS Delft members have been accepted at the premier ACM Web Conference, <a href="" target="_blank">WWW 2022</a>! 
    </li>
    <li> The members of the <a href="https://www.thedigitalsociety.info/themes/responsible-data-science/" target="_blank">Responsible Data Science</a> track of the <a href="https://www.thedigitalsociety.info" target="_blank">Digital Society</a> research program published a <a href="/disa-rds">roadmap on responsible use of data and algorithms</a>.
    </li>
    <li> We are happy to have WIS members involved into the organisation of DBML Workshop. More information can be found on
        the office webpage of the <a href="/dbml2022">workshop</a>.
    </li>
    <li>We are organizing this year's Dutch Belgian Database Day (DBDBD21) in Delft. More information can be found in
        the official <a href="/dbdbd2021">event page</a>.
    </li>
    <li>We are looking for a new colleague in NLP to join us at the Web Information Systems group. See details <a
            href="https://www.tudelft.nl/over-tu-delft/werken-bij-tu-delft/vacatures/details?jobId=4139&jobTitle=Two%20assistant%20professors%20Natural%20Language%20Processing">here</a>.
    </li>
    <li>Amazon Science <b>Best Paper Award</b> at <a href="https://www.humancomputation.com/index.html">AAAI HCOMP
        2021</a>. The paper presents a checklist to combat cognitive biases in crowdsourcing.
    </li>
    <li>Best <a href="https://dl.acm.org/doi/10.1145/3465480.3466920">paper</a> award in <a
            href="https://2021.debs.org">ACM DEBS</a>. The paper deals with transactions on stateful functions in the
        Cloud.
    </li>
    <li>We are honoured and happy that our group is part of (the) two consortia invited by NWO to work out a 10-year
        Long Term Programme. We are with our knowledge management and human computing expertises part of ROBUST for
        trusthworthy AI and of Plant-XR.
    <li><a href="https://delftdata.github.io/valentine/">Valentine</a>, an open source tool and benchmarking suite on
        matching techniques for dataset discovery will be presented in <a href="https://icde2021.gr">ICDE'21</a> and
        demoed in <a href="https://vldb.org/2021/">VLDB'21</a>.
    </li>
    <li>WIS Delft will be very well represented at the premier Human Computation and Crowdsourcing conference, <a
            href="https://www.humancomputation.com/index.html">AAAI HCOMP 2021</a>. We have 3 full research papers and 3
        demo papers accepted!
    </li>
    <li>Douglas Engelbert <a href="https://dl.acm.org/doi/10.1145/3465480.3466920">Best Paper Award</a> at <a
            href="https://t.co/T0hwW0tAGS?amp=1">ACM HT 2021</a>. The paper explores the obfuscation and labeling of
        search results to mitigate confirmation bias on the web.
    </li>

</ul>
