<section id="keynote" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> KEYNOTE </h2>
            </div>

            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/MartinGrohe.jpg"
                             alt="Martin Grohe" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4>Martin Grohe</h4>
                        <h6>RWTH Aachen University, Germany</h6>
                        <p><strong>Martin Grohe</strong> is a computer scientist known for his research on parameterized
                            complexity,
                            mathematical logic, finite model theory, the logic of graphs, database theory, and
                            descriptive complexity theory. He is a University Professor of Computer Science at RWTH
                            Aachen University, where he holds the Chair for Logic and Theory of Discrete Systems.
                            Grohe won the Heinz Maier-Leibnitz Prize awarded by the German Research Foundation in
                            1999. He was elected as an ACM Fellow in 2017 for "contributions to logic in computer
                            science, database theory, algorithms, and computational complexity".</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/paul_groth.jpeg"
                             alt="Paul Groth" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4>Paul Groth</h4>
                        <h6>University of Amsterdam, The Netherlands</h6>
                        <p><strong>Paul Groth</strong> is Professor of Algorithmic Data Science at the University of Amsterdam where he
                            leads the Intelligent Data Engineering Lab (INDElab). He holds a Ph.D. in Computer Science
                            from the University of Southampton (2007) and has done research at the University of
                            Southern California, the Vrije Universiteit Amsterdam and Elsevier Labs. His research
                            focuses on intelligent systems for dealing with large amounts of diverse contextualized
                            knowledge with a particular focus on web and science applications. This includes research in
                            data provenance, data integration and knowledge sharing.
                        </p>
                        <p>
                            Paul is scientific director of the UvA’s Data Science Center. Additionally, he is
                            co-scientific director of two Innovation Center for Artificial Intelligence (ICAI) labs: The
                            AI for Retail (AIR) Lab - a collaboration between UvA and Ahold Delhaize; and the Discovery
                            Lab - a collaboration between Elsevier, the University of Amsterdam and VU University
                            Amsterdam.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>