<section id="keynote" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> KEYNOTES </h2>
            </div>

            <div class="col-md-12 margin-top-10" id="keynote-martin">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/MartinGrohe.jpg"
                             alt="Martin Grohe" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Towards a Theory of Vector Embeddings of Graphs and Relational
                            Data</h4>
                        <h5 class="padding-bottom-1">Martin Grohe, RWTH Aachen University, Germany</h5>
                        <p><strong>ABSTRACT.</strong>Vector representations of graphs and relational data, whether
                            hand-crafted feature vectors or learned representations, enable us to apply standard data
                            analysis and machine learning techniques to these forms of structured data. A wide range of
                            methods for generating such vector embeddings has been studied in the machine learning and
                            knowledge representation literature. However, vector embeddings have received relatively
                            little attention from a theoretical point of view.</p>

                        <p>The first part of my talk will be devoted to embedding algorithms in practice. Starting with
                            a brief overview of common embedding techniques, I will speak about a new embedding
                            algorithm for dynamically changing relational data. In the second part of my talk, I will
                            discuss theoretical ideas that have proved useful for analysing and designing vector
                            embeddings and that may help us to develop a more principled view on the area.</p>
                        <p><strong>ABOUT.</strong> Martin Grohe is a computer scientist known for his research on
                            parameterized complexity, mathematical logic, finite model theory, the logic of graphs,
                            database theory, and descriptive complexity theory. He is a University Professor of Computer
                            Science at RWTH Aachen University, where he holds the Chair for Logic and Theory of Discrete
                            Systems. Grohe won the Heinz Maier-Leibnitz Prize awarded by the German Research Foundation
                            in 1999. He was elected as an ACM Fellow in 2017 for "contributions to logic in computer
                            science, database theory, algorithms, and computational complexity".</p>
                    </div>
                </div>
            </div>

            <div class="col-md-12 margin-top-10" id="keynote-paul">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/paul_groth.jpeg"
                             alt="Paul Groth" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">Data Curation and Debugging for Data Centric AI</h4>
                        <h5 class="padding-bottom-1">Paul Groth, University of Amsterdam, The Netherlands</h5>
                        <p><strong>ABSTRACT.</strong> It is increasingly recognized that data is a central challenge for
                            AI systems - whether training an entirely new model, discovering data for a model, or
                            applying an existing model to new data. Given this centrality of data, there is need to
                            provide new tools that are able to help data teams create, curate and debug datasets in the
                            context of complex machine learning pipelines. In this talk, I outline the underlying
                            challenges for data debugging and curation in these environments. I then discuss our recent
                            research that both takes advantage of ML to improve datasets but also uses core database
                            techniques for debugging in such complex ML pipelines.</p>
                        <p><strong>ABOUT.</strong> Paul Groth is Professor of Algorithmic Data Science at the University
                            of Amsterdam where he leads the Intelligent Data Engineering Lab (INDElab). He holds a Ph.D.
                            in Computer Science from the University of Southampton (2007) and has done research at the
                            University of Southern California, the Vrije Universiteit Amsterdam and Elsevier Labs. His
                            research focuses on intelligent systems for dealing with large amounts of diverse
                            contextualized knowledge with a particular focus on web and science applications. This
                            includes research in data provenance, data integration and knowledge sharing.
                        </p>
                        <p>
                            Paul is scientific director of the UvA’s Data Science Center. Additionally, he is
                            co-scientific director of two Innovation Center for Artificial Intelligence (ICAI) labs: The
                            AI for Retail (AIR) Lab - a collaboration between UvA and Ahold Delhaize; and the Discovery
                            Lab - a collaboration between Elsevier, the University of Amsterdam and VU University
                            Amsterdam.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-12 text-center margin-top-10">
                <h2> INVITED TALKS </h2>
            </div>

            <div class="col-md-12 margin-top-10" id="talk-jyoti">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/dbml/jyoti.jpg"
                             alt="Jyoti Leeka" class="person-image">
                    </div>

                    <div class="col-md-8 ">
                        <h4 class="padding-bottom-1">Query Optimizer as a Service: An Idea Whose Time Has Come!</h4>
                        <h5 class="padding-bottom-1">Jyoti Leeka, Senior Research Scientist, Microsoft Research</h5>
                        <p><strong>ABSTRACT.</strong> Query optimization is a critical technology needed by all modern
                            data processing systems. However, it is traditionally implemented in silos and is deeply
                            embedded in different systems. Furthermore, over the years, query optimizers have become
                            less understood and rarely touched pieces of code that are brittle to changes and very
                            expensive to maintain, thus slowing down the pace of innovation. In this talk, I will argue
                            that it is time to design query optimizer as a service in modern cloud architectures. Such a
                            design will help build a set of well-maintained optimizations that are externalized from the
                            query engines and that could be learned (and improved) using the large workloads present in
                            modern clouds. I will present a reference architecture for our query optimizer as a service,
                            explaining details of intra-query and inter-query optimizations performed. A key enabler for
                            the externalization of intra-query optimization is the plethora of recent machine
                            learning-based techniques developed to improve query optimizer components, such as
                            cardinality, cost model, and query planner. On the other hand, externalization of
                            inter-query optimization, also known as multi-query optimization, is motivated by numerous
                            efforts on view materialization, physical layouts (i.e., partitioning, etc.), and most
                            recently by Pipemizer, a data pipeline-aware optimization effort at Microsoft. Finally, I
                            will describe our success in deploying the early version of query optimizer as a service in
                            Cosmos at Microsoft.</p>
                        <p><strong>ABOUT.</strong> Jyoti Leeka is a Senior Scientist currently focusing on improving the
                            performance of Microsoft’s large-scale data-intensive production analytics clusters. These
                            clusters comprise of 300k servers running hundreds of thousands of production analytic jobs
                            on a daily basis; written by thousands of developers, processing several exabytes of data
                            per day, and involving several hundred petabytes of I/O. The main focus of this work is to
                            develop algorithms to find optimal/approximate physical designs for Microsoft’s production
                            job pipelines. Before joining GSL, Jyoti was a postdoctoral researcher at MSR for two years.
                            Her focus was on query optimization for distributed systems.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-12 margin-top-10" id="talk-jie">
                <div class="row pr-4 pl-5">
                    <div class="col-md-2">
                        <img src="{{site.baseurl}}/assets/img/people/Jie Yang.jpg"
                             alt="Jie Yang" class="person-image">
                    </div>

                    <div class="col-md-8">
                        <h4 class="padding-bottom-1">ARCH: Know What Your Machine Doesn’t Know</h4>
                        <h5 class="padding-bottom-1">Jie Yang, Assistant Professor, Delft University of Technology</h5>
                        <p><strong>ABSTRACT.</strong> Despite their impressive performance, machine learning systems
                            remain prohibitively unreliable in safety-, trust-, and ethically sensitive domains. Recent
                            discussions in different sub-fields of AI have reached the consensus of knowledge need in
                            machine learning; few discussions have touched upon the diagnosis of what knowledge is
                            needed. In this talk, I will present our ongoing work on ARCH, a knowledge-driven,
                            human-centered, and reasoning-based tool, for diagnosing the unknowns of a machine learning
                            system. ARCH leverages human intelligence to create domain knowledge required for a given
                            task and to describe the internal behavior of a machine learning system; it infers the
                            missing or incorrect knowledge of the system with the built-in probabilistic, abductive
                            reasoning engine. ARCH is a generic tool that can be applied to machine learning in
                            different contexts. In the talk, I will present several applications and domains in which
                            ARCH is currently being developed and tested, including health, finance, and transport.</p>
                        <p><strong>ABOUT.</strong> Jie Yang is an assistant professor at the Web Information Systems
                            (WIS) group in TU Delft. He co-leads the Kappa research line on Crowd Computing &
                            Human-Centered AI at
                            the WIS group and the Delft AI Lab Design@Scale in the university. Before, he was a machine
                            learning scientist at Alexa Shopping, Amazon Research, based in Seattle, and a senior
                            researcher at the eXascale Infolab, University of Fribourg - Switzerland. He works on
                            human-in-the-loop approaches for reliable and trustworthy machine learning. His research
                            contributes a new set of human-in-the-loop methods and tools for the development and
                            evaluation of, and the interaction with, machine learning systems.</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>