<section id="program" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> PROGRAM </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Accepted papers: </h4>
                    <ul id="accepted-papers" class="col-md-12">
                        <li class="margin-top-1">
                            <strong>Datastack: Unification of Heterogeneous Machine Learning Dataset Interfaces</strong> <br/>
                            Max L&#252;bbering, Maren Pielka, Ilhamcengiz Henk and Rafet Sifa
                        </li>

                        <li>
                            <strong>Evaluating the Lottery Ticket Hypothesis to Sparsify Neural Networks for Time Series Classification</strong> <br/>
                            Georg Stefan Schlake, Jan David H&#252;wel, Fabian Berns and Christian Beecks
                        </li>

                        <li>
                            <strong>GitDBSchemas: A Schema Dataset for Automating Relational Data Preparation Tasks</strong> <br/>
                            Till D&#246;hmen, Madelon Hulsebos, Christian Beecks and Sebastian Schelter
                        </li>

                        <li>
                            <strong>Sample-based Kernel Structure Learning with Deep Neural Networks for Automated Structure Discovery</strong> <br/>
                            Alexander Gra&#223;, Till D&#246;hmen and Christian Beecks
                        </li>

                        <li>
                            <strong>Join Path Based Data Augmentation for Decision Trees</strong> <br/>
                            Andra Ionescu, Rihan Hai, Marios Fragkoulis and Asterios Katsifodimos
                        </li>
                    </ul>
                </div>


                <div class="row pr-4 pl-5">
                    <p>
                        Full program to be announced.
                    </p>
                </div>


            </div>

        </div>
    </div>
</section>