<section id="sponsors" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> ATTENDANCE SUPPORT </h2>
            </div>
        </div>
        <div class="row text-left margin-top-2 justify-content-center">
            <div class="col-md-3">
                <a href="https://www.tudelft.nl/" target="_blank">
                    <img src="{{site.baseurl}}/assets/img/dbml/TUD-logo.png"
                         alt="Delft centre" width="100%">
                </a>
            </div>

        </div>
    </div>
</section>
