<section id="sponsors" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> Attendance Support </h2>
            </div>
        </div>
        <p>We are very happy to announce attendance support opportunities for students to  attend DBML 2022, which allow free workshop registration for virtual attendees. Due to the limited funding opportunities, there is a strong focus on universities in developing countries (as listed by ACM). 
        </p>
        <p> <strong> Who can apply:</strong>
         The first author of each accepted paper at DBML 2022 can apply, who are also full- time students (graduate or undergraduate) affiliated with universities. 
        <p> <strong>How to apply:</strong>
        TBA
        </p>
        <div class="row text-left margin-top-2 justify-content-center">
            <div class="col-md-3">
                <a href="https://www.tudelft.nl/" target="_blank">
                    <img src="{{site.baseurl}}/assets/img/dbml/TUD-logo.png"
                         alt="Delft centre" width="100%">
                </a>
            </div>

        </div>
    </div>
</section>
