<section id="organisation" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> ORGANISATION </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">

                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/li" target="_blank">
                            <div class="blockquote-box ">
                                <div class="square">
                                    <!-- <img src="{{site.baseurl}}/assets/img/dbml24/ziyu.jpg"
                                         alt="Ziyu Li" class="person-image"> -->
                                    <img src="{{site.baseurl}}/assets/img/dbml24/ziyu.jpg" alt="Ziyu Li" class="person-image-24">
                                </div>
                                <h4> Ziyu Li </h4>
                                <h6> TU Delft </h6>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://hpi.de/naumann/people/gerardo-vitagliano.html" target="_blank">
                            <div class="blockquote-box ">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml24/Gerardo.jpg"
                                         alt="Gerardo Vitagliano" class="person-image-24">
                                </div>
                                <h4> Gerardo Vitagliano </h4>
                                <h6> Hasso-Plattner-Institut </h6>
                                <h6> Workshop Chair </h6> 
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.informatik.tu-darmstadt.de/systems/systems_tuda/group/team_detail_18624.en.jsp" target="_blank">
                            <div class="blockquote-box ">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml24/Carsten.jpg"
                                         alt="Carsten Bing" class="person-image-24">
                                </div>
                                <h4> Carsten Binnig </h4>
                                <h6> TU Darmstadt </h6>
                                <h6> Workshop Chair </h6>
                            </div>
                        </a>
                    </div>
                    
                </div>


                <div class="row pr-4 pl-5 margin-top-2">
                    <!-- <div class="col-lg-4 col-md-6">
                        <a href="http://dbgroup.cs.tsinghua.edu.cn/chaicl/index.html" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/chai.jpg"
                                         alt="Chengliang Chai" class="person-image">
                                </div>
                                <h4>Chengliang Chai  </h4>
                                <h6> Beijing Institute of Technology</h6>
                                <h6> Workshop chair </h6>
                            </div>
                        </a>
                    </div> -->
                    <!-- <div class="col-lg-4 col-md-6">
                        <a href="https://andraionescu.github.io/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Andra.jpg"
                                         alt="Andra Ionescu" class="person-image">
                                </div>
                                <h4> Andra Ionescu </h4>
                                <h6> TU Delft</h6>
                                <h6> Workshop chair </h6>
                            </div>
                        </a>
                    </div> -->
                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/zhan" target="_blank">
                            <div class="blockquote-box ">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml24/danning zhan.jpg"
                                         alt="Danning Zhan" class="person-image-24">
                                </div>
                                <h4> Danning Zhan </h4>
                                <h6> TU Delft</h6>
                                <h6> Publicity chair </h6>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Program committee: </h4>
                    <ul id="pc-members" class="col-md-12">
                        <li>ZhiWei Fan - Meta</li>
                        <li>Shuang Hao - Beijing Jiaotong University</li>
                        <li>Hazar Harmouch - University of Amsterdam</li>
                        <li>ZeZhou Huang - Columbia University</li>
                        <li>Madelon Hulsebros - University of Amsterdam</li>
                        <li>Bojan Karlaš - Harvard Medical School</li>
                        <li>Christos Koutras - TUDelft</li>
                        <li>Yao Lu - National University of Singapore</li>
                        <li>YuYu Luo - Hong Kong University of Science and Technology </li>
                        <li>Manisha Lutra - TU Darmstadt </li>
                        <li>Pedro Pedreira - Meta</li>
                        <li>Ibrahim Sabek - University of Southern California</li>
                        <li>Sebastian Shelter - University of Amsterdam</li>
                        <li>Roee Shraga - Worcester Polytechnic Institute </li>
                        <li>Peter Triantafillou - University of Warwick</li>
                        <li>ZhiHui Yang - Fudan University</li>
                        <li>Chao Zhang - Tsinghua University</li>

                        
                        <!-- <li class="margin-top-2">Dan Olteanu - University of Zurich, Switzerland</li>
                        <li>Asterios Katsifodimos - TU Delft, The Netherlands</li>
                        <li>Fatemeh Nargesian - University of Rochester, USA</li>
                        <li>Rana Alotaibi - Microsoft Gray Systems Lab</li>
                        <li>Zoi Kaoudi - TU Berlin, Germany</li>
                        <li>Xiaoou Ding - Harbin Institute of Technology, China</li>
                        <li>Marios Fragkoulis - DeliveryHero, Greece</li>
                        <li>Christos Koutras - TU Delft, The Netherlands</li>
                        <li>Chi Zhang - Brandeis University, USA</li>
                        <li>Hazar Harmouch - Hasso-Plattner-Institut, Germany</li>
                        <li>Zhiwei Fan - Meta</li>
                        <li>Tuo Shi - Tianjin University, China</li>
                        <li>Syed Ali - Accenture, Germany</li>
                        <li>Xuanhe Zhou - Tsinghua University, China</li>
                        <li>Lampros Flokas - Columbia University, USA</li>
                        <li>Gerardo Vitagliano - Hasso-Plattner-Institut, Germany</li>
                        <li>Roee Shraga - Northeastern University, USA</li>
                        <li>Chao Zhang - Tsinghua University, China</li>
                        <li>Shuang Hao - Beijing Jiaotong University, China</li>
                        <li>Yuyu Luo - Tsinghua University, China</li>
                        <li>Zezhou Huang - Columbia University, USA</li>
                        <li>Utku Sirin - Harvard University, USA</li>
                        <li>Bojan Karlaš - ETH Zurich, Switzerland</li>
                        <li>Madelon Hulsebos - University of Amsterdam, The Netherlands</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
