<section id="panel" class="services-section section-colored">
    <div class="container">
        <!-- <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> PANEL:  Data Lakes, AI, and Cloud</h2>
                <h4> Location: Platinum 2</h4>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.wis.ewi.tudelft.nl/hai" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/Rihan.jpg"
                                         alt="Rihan Hai" class="person-image">
                                </div>
                                <h4>Rihan Hai </h4>
                                <h6> TU Delft</h6>
                                <h6> Host </h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.linkedin.com/in/yannispapakonstantinou/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/yannis.jpeg"
                                         alt="Yannis Papakonstantinou" class="person-image">
                                </div>
                                <h4> Yannis Papakonstantinou</h4>
                                <h6> Databriks</h6>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <a href="https://interesaaat.github.io/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/matteo.jpg"
                                         alt="Matteo Interlandi" class="person-image">
                                </div>
                                <h4> Matteo Interlandi </h4>
                                <h6> Gray System Lab, Microsoft</h6>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="row pr-4 pl-5 margin-top-2">
                    <div class="col-lg-4 col-md-6">
                        <a href="https://asterios.katsifodimos.com/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/asterios.jpg"
                                         alt="Asterios Katsifodimos" class="person-image">
                                </div>
                                <h4>Asterios Katsifodimos,  </h4>
                                <h6> TU Delft & Amazon</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <a href="https://zhangce.github.io/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/ce_2022.png"
                                         alt="Ce Zhang" class="person-image">
                                </div>
                                <h4> Ce Zhang </h4>
                                <h6> ETH Zurich</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <a href="https://www.linkedin.com/in/davidbuniatyan/" target="_blank">
                            <div class="blockquote-box blockquote-people">
                                <div class="square">
                                    <img src="{{site.baseurl}}/assets/img/dbml/davit.jpeg"
                                         alt="Davit Buniatyan" class="person-image">
                                </div>
                                <h4> Davit Buniatyan </h4>
                                <h6> Activeloop</h6>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div> -->

    </div>
</section>