<section id="program" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> PROGRAM </h2>
            </div>
            <!-- <div>
                Program to be determined, stay tuned for more updates. 
                For reference this was what was the program at <a href="https://www.wis.ewi.tudelft.nl/dbml2023#program">DBML2023</a> and at <a href="https://www.wis.ewi.tudelft.nl/dbml2022#program">DBML2022</a>
            </div> -->


            
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Accepted papers: </h4>
                    <ul id="accepted-papers" class="col-md-12">
                        <li class="margin-top-1">
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_2.pdf", target=""_blank><strong>
                                Relationalizing Tables with Large Language Models: The Promise and Challenges
                            </strong>
                            </a>
                            <br/>
                            Zezhou Huang and Eugene Wu. 
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_13.pdf">
                                <strong> Evaluating Ambiguous Questions in Semantic Parsing</strong>
                            </a> <br/>
                            Simone Papicchio, Paolo Papotti and Luca Cagliero.   
                         </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_12.pdf">
                                <strong>OPTWIN: Drift Identification with Optimal Sub-Windows</strong>
                            </a>
                            <br/>
                            Mauro Dalle Lucca Tosi and Martin Theobald. 
                        </li>
                        <!-- <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_8.pdf">
                                <strong> Iterative Forgetting: Online Data Stream Regression using Database-inspired Adaptive Granulation</strong> <br/>
                            </a>
                                Niket Kathiriya, Hossein Haeri, Cindy Chen and Kshitij Jerath.
                        </li> -->
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_9.pdf">
                            <strong> ChimeraTL: Transfer Learning in DBMS with Fewer Samples</strong> <br/>
                            </a>
                            Tatsuhiro Nakamori, Shohei Matsuura, Takashi Miyazaki, Sho Nakazono, Taiki Sato, Takashi Hoshino and Hideyuki Kawashima.
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_10.pdf">
                            <strong> Will Sharing Metadata Leak Privacy?
                            </strong>
                            </a> <br/>
                            Danning Zhan and Rihan Hai.
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_11.pdf">
                            <strong>ReClean: Reinforcement Learning for Automated Data Cleaning in ML Pipelines</strong> <br/>
                            </a>
                            Mohamed Abdelaal, Anil Bora Yayak, Kai Klede and Harald Schoening.
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_1.pdf">
                            <strong> Directions Towards Efficient and Automated Data Wrangling with Large Language Models</strong> <br/>
                            </a>
                            Zeyu Zhang, Paul Groth, Iacer Calixto and Sebastian Schelter.
                        </li>

                    </ul>
                </div>
                <div class="row pr-4 pl-5 margin-top-4">
                    <table class="table table-hover table-bordered table-sm text-center">
                        <thead>
                        <tr>
                            <th scope="col" class="no-border">Netherlands (CEST)</th>
                            <!-- <th scope="col" class="no-border">Activity</th> -->
                            <th scope="col" class="no-border">Title</th>
                            <th scope="col" class="no-border">Presenter</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr style="background-color: #00b0c7;">
                            <td>9:00 - 10:00</td>
                            <td>Opening + Keynote 1 </td>
                            <!-- <td>Renata Borovica-Gajic</td> -->
                            <td>  </td>
                        </tr>
                        <tr >
                            <td>9:00 - 10:00</td>
                            <td>Keynote 1 : Benchmarking learned data systems</td>
                            <td>Renata Borovica-Gajic</td>
                        </tr>
                        <tr>
                            <td>10:30 - 11:00 </td>
                            <td>Evaluating Ambiguous Questions in Semantic Parsing </td>
                            <td> Simone Papicchio, Paolo Papotti and Luca Cagliero</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Will Sharing Metadata Leak Privacy?</td>
                            <td>Danning Zhan and Rihan Hai</td>
                        </tr>
                        <tr style="background-color: #00b0c7;">
                            <td>13:30 - 15:00</td>
                            <td>Keynote 2 + Round Tables</td>
                            <td> </td>
                        </tr>
                        <tr>
                            <td>13:30 - 15:00</td>
                            <td>Keynote  : LLM for Data Management</td>
                            <td>Paolo Papotti</td>
                        </tr>
                        <tr>
                            <td>11:00 - 12:00</td>
                            <td>ChimeraTL: Transfer Learning in DBMS with Fewer Samples</td>
                            <td> Tatsuhiro Nakamori, Shohei Matsuura, Takashi Miyazaki, Sho Nakazono, Taiki Sato, Takashi Hoshino and Hideyuki Kawashima </td>
                         </tr>
                        <tr>
                            <td> </td>
                            <td>OPTWIN: Drift Identification with Optimal Sub-Windows</td>
                            <td> Mauro Dalle Lucca Tosi and Martin Theobald </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td>Iterative Forgetting: Online Data Stream Regression using Database-inspired Adaptive Granulation
                            </td>
                            <td> Niket Kathiriya, Hossein Haeri, Cindy Chen and Kshitij Jerath </td>
                        </tr>

                        <tr style="background-color: #00b0c7;">
                            <td>15:30 - 17:00</td>
                            <td>Keynote 3 + Research Papers </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>15:30 - 17:00</td>
                            <td>Keynote 3 : Data Management for ML </td>
                            <td>Fatemeh Nargesian</td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td>ReClean: Reinforcement Learning for Automated Data Cleaning in ML Pipelines</td>
                            <td> Mohamed Abdelaal, Anil Bora Yayak, Kai Klede and Harald Schoening </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td>Directions Towards Efficient and Automated Data Wrangling with Large Language Models
                            </td>
                            <td> Zeyu Zhang, Paul Groth, Iacer Calixto and Sebastian Schelter </td>
                        </tr>
                        <tr>
                            <td> </td>
                            <td>Relationalizing Tables with Large Language Models: The Promise and Challenges</td>
                            <td> Zezhou Huang and Eugene Wu </td>
                        </tr>
                    </tbody>
                </table>

                        <!-- <tr>
                            <td>11:50 - 12:05</td>
                            <td>Research talk 3</td>
                            <td>Optimizing Machine Learning Inference Queries for Multiple Objectives -->
    
                                <!-- <a href="https://ieeexplore.ieee.org/document/9814699" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> - ->
                            </td>
                        </tr>

                        <tr>
                            <td>12:05 - 12:20</td>
                            <td>Research talk 4</td>
                            <td>Provenance-based Explanations for Machine Learning (ML) Models
                                 <a href="https://ieeexplore.ieee.org/document/9814699" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> - ->
                            </td>
                        </tr>
                        <tr>
                            <td>12:20 - 12:35</td>
                            <td>Research talk 5</td>
                            <td>Privacy-preserving Data Federation for Trainable, Queryable and Actionable Data (Online)
                                 <a href="https://ieeexplore.ieee.org/document/9814699" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> - ->
                            </td>
                        </tr>

                        <tr>
                            <td>12:35 - 14:00</td>
                            <td colspan="3" class="text-center">Lunch &#9749;</td>
                        </tr>

                        <tr>
                            <td>14:00 - 14:45</td>
                            <td>Keynote 3</td>
                            <td><a href="{{site.baseurl}}/dbml2023#keynote-immanuel"> Towards AI-Generated Database Management Systems</a>
                            </td>
                            <td>Immanuel Trummer (Cornell University)</td>
                        </tr>

                        <tr>
                            <td>14:45 - 15:05</td>
                            <td>Research talk 6</td>
                            <td>Efficient Index Learning via Model Reuse and Fine-tuning

                                 <a href="https://ieeexplore.ieee.org/abstract/document/9814660" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> - ->
                            </td>
                        </tr>

                        <tr>
                            <td>15:05 - 15:25</td>
                            <td>Research talk 7</td>
                            <td>A Fast Hybrid Spatial Index with External Memory Support (Online)

                                 <a href="https://ieeexplore.ieee.org/document/9814695/" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> - ->
                            </td>
                        </tr>

                        <tr>
                            <td>15:25 - 15:40</td>
                            <td>Research talk 8</td>
                            <td>COAX: Correlation-Aware Indexing (Online)
                                 <a href="https://ieeexplore.ieee.org/document/9814603/" target="_blank">
                                    <i class="fa fa-file" style="font-size:22px; padding-left: 0.5vw;"></i>
                                </a> - ->
                            </td>
                        </tr>

                        <tr>
                            <td>15:40 - 16:00</td>
                            <td colspan="3" class="text-center">Coffee break</td>
                        </tr>
                        <tr>
                            <td>16:00 - 16:35</td>
                            <td>Invited talk 2</td>
                            <td><a href="{{site.baseurl}}/dbml2023#talk-feng"> Applying Compressed Data Direct Computing from Database to ML Workloads </a>
                            </td>
                            <td>Feng Zhang (Renmin University of China)</td>
                        </tr>
                        <tr>
                            <td>16:35 - 17:35</td>
                            <td>Panel</td>
                            <td><a href="{{site.baseurl}}/dbml2023#panel">Datalakes, AI and the Cloud</a>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>17:35</td>
                            <td colspan="3" class="text-center">Ending</td>
                        </tr>
                        </tbody>
                    </table> -->
                </div> 
            </div>
        </div>
    </div>
</section>