<section id="program" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> PROGRAM </h2>
            </div>
            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5 margin-top-4">
                    <h4 class="col-md-12"> Accepted papers: </h4>
                    <ul id="accepted-papers" class="col-md-12">
                        <li class="margin-top-1">
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_2.pdf"><strong>
                                Relationalizing Tables with Large Language Models: The Promise and Challenges
                            </strong>
                            </a>
                            <br/>
                            Zezhou Huang and Eugene Wu. 
                        </li>

                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_13.pdf">
                                <strong> Evaluating Ambiguous Questions in Semantic Parsing</strong>
                            </a> <br/>
                            Simone Papicchio, Paolo Papotti and Luca Cagliero.   
                         </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/OPTWIN_DBML_2024.pdf">
                                <strong>OPTWIN: Drift Identification with Optimal Sub-Windows</strong>
                            </a>
                            <br/>
                            Mauro Dalle Lucca Tosi and Martin Theobald. 
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_9.pdf">
                            <strong> ChimeraTL: Transfer Learning in DBMS with Fewer Samples</strong> <br/>
                            </a>
                            Tatsuhiro Nakamori, Shohei Matsuura, Takashi Miyazaki, Sho Nakazono, Taiki Sato, Takashi Hoshino and Hideyuki Kawashima.
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_10.pdf">
                            <strong> Will Sharing Metadata Leak Privacy?</strong>
                            </a> <br/>
                            Danning Zhan and Rihan Hai.
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_11.pdf">
                            <strong>ReClean: Reinforcement Learning for Automated Data Cleaning in ML Pipelines</strong> <br/>
                            </a>
                            Mohamed Abdelaal, Anil Bora Yayak, Kai Klede and Harald Schoening.
                        </li>
                        <li>
                            <a href="{{site.baseurl}}/assets/files/dbml2024/DBML24_paper_1.pdf">
                            <strong> Directions Towards Efficient and Automated Data Wrangling with Large Language Models</strong> <br/>
                            </a>
                            Zeyu Zhang, Paul Groth, Iacer Calixto and Sebastian Schelter.
                        </li>
                    </ul>
                </div>
                <div class="row pr-4 pl-5 margin-top-4">
                    <table class="table table-hover table-bordered table-sm text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="no-border">Netherlands (CEST)</th>
                                <th scope="col" class="no-border">Activity</th>
                                <th scope="col" class="no-border">Title</th>
                                <th scope="col" class="no-border">Presenter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="background-color: #00b0c7;">
                                <td>9:00 - 9:10</td>
                                <td  colspan="3" class="text-center">Opening</td>
                            </tr>
                            <tr >
                                <td>9:10 - 10:00</td>
                                <td>Keynote</td>
                                <td><a href="{{site.baseurl}}/dbml2024#keynote-renata"> Physical database design tuning with Multi-Armed Bandits: Reaching the holy grail of performance guarantees</a></td>
                                <td>Renata Borovica-Gajic</td>
                            </tr>
                            <tr style="background-color: #00b0c7;">
                                <td>10:00 - 10:30</td>
                                <td  colspan="3" class="text-center">Coffee Break &#9749</td>
                            </tr>
                            <tr style="background-color: #00b0c7;">
                
                                <td  colspan="4" class="text-center">Benchmarking and Evaluation</td>
                            </tr>
                            <tr>
                                <td>10:30 - 11:00 </td>
                                <td>Research Talk</td>
                                <td>Evaluating Ambiguous Questions in Semantic Parsing </td>
                                <td> Simone Papicchio, Paolo Papotti and Luca Cagliero</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Research Talk</td>
                                <td>Will Sharing Metadata Leak Privacy?</td>
                                <td>Danning Zhan and Rihan Hai</td>
                            </tr>
                            <tr style="background-color: #00b0c7;">
                
                                <td  colspan="4" class="text-center">ML for data processing</td>
                            </tr>
                            <tr>
                                <td>11:00 - 12:00</td>
                                <td>Research Talk</td>
                                <td>ChimeraTL: Transfer Learning in DBMS with Fewer Samples</td>
                                <td> Tatsuhiro Nakamori, Shohei Matsuura, Takashi Miyazaki, Sho Nakazono, Taiki Sato, Takashi Hoshino and Hideyuki Kawashima </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Research Talk</td>
                                <td>OPTWIN: Drift Identification with Optimal Sub-Windows</td>
                                <td> Mauro Dalle Lucca Tosi and Martin Theobald </td>
                            </tr>
                            <tr style="background-color: #00b0c7;">
                                <td>12:00 - 13:30</td>
                                <td  colspan="3" class="text-center">Lunch &#127857</td>
                            </tr>
                            <tr>
                                <td>13:30 - 14:15</td>
                                <td>Keynote</td>
                                <td> <a href="{{site.baseurl}}/dbml2024#keynote-paolo"> SQL and Large Language Models: A Marriage Made in Heaven? </a></td>
                                <td>Paolo Papotti</td>
                            </tr>
                            <tr>
                                <td>14:15 - 15:00</td>
                                <td>Roundtable discussions</td>
                                <td> Future trends in DBML research</td>
                                <td>Collaborative Session</td>
                            </tr>
                            <tr style="background-color: #00b0c7;">
                                <td>15:00 - 15:30</td>
                                <td  colspan="3" class="text-center">Coffee Break &#9749</td>
                                <!-- <td>Renata Borovica-Gajic</td> -->
                            </tr>
                            <tr>
                                <td>15:30 - 17:00</td>
                                <td>Keynote</td>
                                <td> <a  href="{{site.baseurl}}/dbml2024#keynote-fatemeh"> Data Acquisition for AI </a> </td>
                                <td>Fatemeh Nargesian</td>
                            </tr>
                            <tr style="background-color: #00b0c7;">
                
                                <td  colspan="4" class="text-center">Learned Data Wrangling</td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Research Talk</td>
                                <td>ReClean: Reinforcement Learning for Automated Data Cleaning in ML Pipelines</td>
                                <td> Mohamed Abdelaal, Anil Bora Yayak, Kai Klede and Harald Schoening </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Research Talk</td>
                                <td>Directions Towards Efficient and Automated Data Wrangling with Large Language Models
                                </td>
                                <td> Zeyu Zhang, Paul Groth, Iacer Calixto and Sebastian Schelter </td>
                            </tr>
                            <tr>
                                <td> </td>
                                <td>Research Talk</td>
                                <td>Relationalizing Tables with Large Language Models: The Promise and Challenges</td>
                                <td> Zezhou Huang and Eugene Wu </td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</section>