<!-- <section id="sponsors" class="services-section">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> Attendance Support </h2>
            </div>
        </div>
        <div class="col-md-12 margin-top-3">
             <div class="row pr-4 pl-5">
                <p style="text-align:left;"> We are very happy to announce attendance support opportunities for students
                    to attend DBML 2022,
                    which allow free workshop registration for virtual attendees. Due to the limited funding
                    opportunities,
                    there is a strong focus on universities in developing countries (as listed by ACM).
                </p>
                <h5 class="title">Who can apply</h5>

                <p>The first authors of each accepted paper at DBML 2022 can apply, who are also full-time students
                    (graduate or undergraduate) affiliated with universities. </p>

                <h5 class="title">How to apply</h5>

                <p class="col-md-12">After the paper notification, please send your paper number and student certificate to Dr. Hai
                    (R.Hai@tudelft.nl)</p>

            </div> -->
            <!-- TBD -->
        <!-- </div> -->
        <!-- <div class="row text-left margin-top-2 justify-content-center">
            <div class="col-md-3">
                <a href="https://www.tudelft.nl/" target="_blank">
                    <img src="{{site.baseurl}}/assets/img/dbml/TUD-logo.png"
                         alt="Delft centre" width="100%">
                </a>
            </div>

        </div>
    </div>
</section>