<section id="submission" class="services-section section-colored">
    <div class="container">
        <div class="row text-left margin-top-2">
            <div class="col-md-12 text-center">
                <h2> SUBMISSION GUIDELINES </h2>
            </div>

            <div class="col-md-12 margin-top-3">
                <div class="row pr-4 pl-5">
                    <p>
                        The workshop will accept both <b>regular papers</b> and <b>short papers</b> (work in progress,
                        vision/outrageous ideas).
                    </p>
                    <p>
                        <b>Summary papers (NEW CATEGORY)</b>: In addition to regular submissions, we also welcome 4 page papers which summarise long papers
                        already accepted (any, maybe, presented) at major database or ML/NLP conferences or journals, as long as they are a good
                        match for the topics. These papers will not be included in the proceedings and it should be indicated in the title of the
                        submission that the paper is a summary paper.
                    </p>
                    <p>
                        All submissions must be prepared in accordance with the IEEE template
                        available
                        <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html" target="_blank">here</a>. The workshop follows the same rules of Conflicts of Interest (COI) as ICDE 2024.
                        The following are the page limits (excluding references):
                    </p>
                    <div class="col-6">
                        <table class="table table-hover table-sm">
                            <tbody>
                            <tr>
                                <td class="no-border-top"><strong>Regular papers:</strong></td>
                                <td class="no-border-top"> 6 pages</td>
                            </tr>

                            <tr>
                                <td><strong>Short papers:</strong></td>
                                <td> 4 pages</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12">
                        <p> All submissions (in PDF format) should be sent to
                            <a href="https://urldefense.com/v3/__https://easychair.org/conferences/?conf=dbml24__;!!PAKc-5URQlI!_dwKa88mBAJ7nqEfOjl3RJrimrTO0qXE6_pp0GvMEJqc-E82LXYgHbOEGjx7lCoHraxzDwhFMb0Ls1OAZAT5nE3wNIOzH-EaV3I$" target="_blank">Easychair</a>.
                        </p>
                    </div>
                    
                </div>

            </div>

        </div>
    </div>
</section>