<!doctype html>
<html lang="en">

{% include head.html description="Dutch-Belgian Database Day 2021"%}
{% include script.html %}

<nav id="navbar-section" class="navbar navbar-default navbar-static-top navbar-sticky" role="navigation">
    <div class="container">

        <div id="navbar-dbdbd" class="navbar-collapse navbar-responsive-collapse">
            <div class="row align-items-center">
                <div class="col-md-2 offset-xs-2 col-xs-2">
                    <a href="{{site.baseurl}}/dbdbd2021">DBDBD 2021</a>
                </div>

                <div class="col-xs-8 col-md-10">
                    <ul class="nav pull-right flex-row justify-content-center">
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/dbdbd2021#overview">Overview</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/dbdbd2021#submissions">Submissions</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/dbdbd2021#registration">Registration</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/dbdbd2021#program">Program</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/dbdbd2021#organisation">Organisation</a>
                        </li>
                        <li class="pr-4">
                            <a href="{{site.baseurl}}/dbdbd2021#history">History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
{{ content }}
</body>

<footer class="pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 margin-top-2">
                <div class="row">
                    <p style="color: white">&copy; DBDBD 2021 </p>
                </div>
            </div>

        </div>
    </div>

</footer>

</html>
