<!doctype html>
<html lang="en">

{% include head.html description="DBML 2024"%}

<section id="banner24" class="dbml services-section section-colored">


    <nav class="dbml-nav navbar fixed-top" role="navigation">
        <div class="container">

            <div id="navbar-dbdbd" class="navbar-collapse navbar-responsive-collapse">
                <div class="row align-items-center">
                    <div class="col-md-2 offset-xs-2 col-xs-2">
                        <a href="{{site.baseurl}}/">
                            <img src="{{site.baseurl}}/assets/DBML_logo/DBML2024-white.svg"/>
                        </a>
                    </div>

                    <div class="col-xs-8 col-md-10">
                        <ul class="nav pull-right flex-row justify-content-center">
                            <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#about">About</a>
                            </li>
                            <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#keynote">Keynote</a>
                            </li>
                            <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#program">Program</a>
                            </li>
                            <!-- <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#panel">Panel</a>
                            </li> -->
                            <!-- <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#submission">Submission</a>
                            </li> -->
                            <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#important-dates">Important Dates</a>
                            </li>
                            <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#organisation">Organisation</a>
                            </li>
                            <!-- <li class="pr-4">
                                <a href="{{site.baseurl}}/dbml2024#sponsors">Attendance Support</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="title" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> 3rd International Workshop on Databases and Machine Learning </h1>
            </div>
            <div class="col-md-12">
                <h4> in conjunction with <a href="https://icde2024.github.io/" target="_blank">ICDE 2024</a> | May
                    13 2024 </h4>
            </div>
        </div>
    </div>

</section>
<body class="dbml">
{{ content }}
</body>

<footer class="pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 margin-top-2">
                <div class="row">
                    <p style="color: white">&copy; DBML 2024 </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    const navbar = document.querySelector('.fixed-top');
    window.onscroll = () => {
        if (window.scrollY > 300) {
            navbar.classList.remove('dbml-nav');
            navbar.classList.add('nav-colored');
        } else {
            navbar.classList.remove('nav-colored');
            navbar.classList.add('dbml-nav')
        }
    };
</script>


</html>
