---
layout: default_style
---

{% assign room = page.office %}
{% unless page.office contains 'Room' %}
{% assign room = 'Room - ' | append: page.office %}
{% endunless %}

<section id="{{page.title}}" class="section-global-wrapper">
    <div class="container content-space">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h2 class="row justify-content-center"> {{page.name}} </h2>

                <h5 class="row justify-content-center"> {{page.role}} </h5>

                <p class="row justify-content-center"><a href="mailto:{{page.email}}" target="_blank">{{page.email}}</a>
                </p>

                <div class="row justify-content-center margin-top-4">
                    <h6><a class="col-lg-2" href="{{site.baseurl}}/people/{{page.back}}#about">About</a></h6>
                    {% unless page.filter > 0 %}
                    {% for tabs in site.details %}
                    <h6><a class="col-lg-2" href="{{site.baseurl}}{{tabs.url}}">{{tabs.title}}</a></h6>
                    {% endfor %}
                    {% endunless %}
                    <h6><a class="col-lg-2" href="{{site.baseurl}}/people/{{page.back}}#publications">Publications</a>
                    </h6>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="row pr-4 person">
                    {{page.content}}
                    {% unless page.details > 0 %}
                    <h2 id="publications">Publications</h2>
                    <div id="publicationlist">
                        {% include get_publications.html pub_link=page.publications_link%}
                    </div>
                    {% endunless %}
                </div>
            </div>

            <div class="col-lg-3 p-4">
                <div class="row">
                    <img src="{{site.baseurl}}/assets/img/people/{{page.image}}" alt="Picture of {{page.name}}"
                         width="100%" height="100%">
                </div>

                <div class="row margin-top-2">
                    {% assign abc = '' %}
                    {% for team in page.team %}
                    {% case team %}
                    {% when 'delta' %}
                    {% assign abc = abc | append: site.delta %}
                    {% when 'kappa' %}
                    {% assign abc = abc | append: site.kappa %}
                    {% when 'epsilon' %}
                    {% assign abc = abc | append: site.kappa %}
                    {% when 'lambda' %}
                    {% assign abc = abc | append: site.lambda %}
                    {% else %}
                    {% assign abc = abc | append: site.lambda %}
                    {% endcase %}

                    {% unless forloop.first == forloop.last or forloop.last %}
                    {% assign abc = abc | append: " and " %}
                    {% endunless %}
                    {% endfor %}

                    <p>
                        <b>Research theme: </b> {{abc}}
                    </p>
                    <p><b>Visiting address: </b> <br/>
                        <a href="{{site.building_url}}" target="_blank">{{site.building}}</a> <br/>
                        {{ room }} <br/>
                        {{ site.street }} <br/>
                        {{ site.zipcode }} <br/>
                        {{ site.country }} <br/>
                </div>

                <button class="btn" onclick="topFunction()" id="back-to-top" title="Back to top">Back to top</button>
            </div>
        </div>
    </div>
</section>

<script>
    const mybutton = document.getElementById("back-to-top");

    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>